<template>
    <div id="add-ons" class="single-section">
        <h2 class="overview-header">
            Add-Ons
        </h2>
        <div class="add-ons-section">
            <h3 class="add-ons-subheader">
                Excess Baggage
            </h3>
            <p class="add-ons-description text-left">
                Your ticket entitles you to 1 item of hand luggage on board plus 2 items of baggage per person to be stowed under the coach. Need more? Pre-purchase your excess bags and save money.
            </p>
            <div class="add-ons-selection-wrapper">
              <div class="baggage-addons">
                <div v-for="index in tickets"
                     :key="index"
                    class="row baggage-wrapper">
                  <span class="passenger  col-third">
                    Passenger {{index}}
                  </span>
                  <div class="wrapper col-third">
                    <p class="trip-header text-center">
                      <span v-if="returnTrip">Trip 1</span>
                    </p>
                    <vue-numeric-input name="number-of-tickets"
                                       :id="'forward-baggage-' + index"
                                       v-model="forwardBaggage[index]"
                                       :min="0"
                                       :max="2"
                                       @change="selectBaggage"
                                       align="center"></vue-numeric-input>
                  </div>
                  <div class="wrapper col-third" v-if="returnTrip">
                    <p class="trip-header text-center">
                      Trip 2
                    </p>
                    <vue-numeric-input name="number-of-tickets"
                                       :id="'forward-baggage-' + index"
                                       v-model="returnBaggage[index]"
                                       :min="0"
                                       :max="2"
                                       @change="selectBaggage"
                                       align="center"></vue-numeric-input>
                  </div>
                </div>
              </div>
                <p class="add-ons-subtext text-left">
                    * Each bag must weigh no more than 20 kg. For more than 2 additional bags please contact our Freight call centre on 1300 730 740.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
  import VueNumericInput from "vue-numeric-input";
    export default {
      name: "AddOns",
      components: {
        VueNumericInput
      },
      data: function () {
        return {
          excessBaggage: 0,
          forwardBaggage: [],
          returnBaggage: [],
          tickets: 0,
          returnTrip: false
        }
      },
      methods: {
        selectBaggage() {

        },
      },
      mounted() {
        const instance = this;
        window.Bus.$on('numberOfTickets', (number) => {
          instance.tickets = parseInt(number.numberOfTickets);
          let i;
          for (i = 1; i <= number.numberOfTickets; i++) {
            this.forwardBaggage[i] = 0;
            this.returnBaggage[i] = 0;
          }
        });

        window.Bus.$on('showReturnTicketApp', function (data) {
          instance.returnTrip = data.showReturnTicket;
        });
      },
      watch: {
        forwardBaggage: {
          deep: true,
          handler() {
            let forwardBaggage = 0,
                returnBaggage = 0;

            this.forwardBaggage.forEach(value => {
              forwardBaggage += value;
            });

            this.returnBaggage.forEach(value => {
              returnBaggage += value;
            });

            window.Bus.$emit('updateBaggage', {forwardBags: forwardBaggage, returnBags: returnBaggage});
          }
        },
        returnBaggage: {
          deep: true,
          handler() {
            let forwardBaggage = 0,
                returnBaggage = 0;

            this.forwardBaggage.forEach(value => {
              forwardBaggage += value;
            });

            this.returnBaggage.forEach(value => {
              returnBaggage += value;
            });

            window.Bus.$emit('updateBaggage', {forwardBags: forwardBaggage, returnBags: returnBaggage});
          }
        }
      }
    }
</script>

<style scoped>
    .add-ons-section {
        padding: 0 20px 20px;
    }
.add-ons-subheader {
    font-size: 16px;
    text-align: left;
}

#app .row.baggage-wrapper {
  align-items: center;
  justify-content: flex-start;
}

#app .row.baggage-wrapper .passenger {
  margin-top: 16px;
  font-weight: bold;
  font-size: 20px;
}

#app .row.baggage-wrapper .trip-header {
  font-weight: bold;
  font-size: 20px;
}

    #app input {
        min-height: auto;
        width: auto;
        display: none;
    }

    #app label {
        font-size: 14px;
        font-weight: bold;
        display: block;
        align-items: center;
        justify-content: center;
    }

    #app label:before {
        display: inline-flex;
        width: 14px;
        height: 14px;
        border: 2px solid crimson;
        border-radius: 90px;
        align-items: center;
        justify-content: center;
        font-family: fontawesome;
        content: "\f00c";
        font-size: 12px;
        color: transparent;
    }

    #app label.checked:before {
        color: crimson;
    }

    #app .add-ons-subtext {
        font-size: 10px;
        color: crimson;
    }

    #app .add-ons-description {
        font-size: 14px;
    }

    #app .add-ons-selection-item:not(:last-of-type) {
        margin-bottom: 8px;
    }

    #app .additional-input-content {
        margin-left: 10px;
    }

    @media only screen and (max-width: 767px) {
        #app .add-ons-selection-item:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    #baggage {
      max-width: 200px;
    }
</style>