<template>
    <div id="passenger-details" class="single-section">
        <h2 class="overview-header">
            Passenger Details
        </h2>
        <div class="container">
            <div id="name-row" class="row">
                <div class="col-left">
                    <input type="text"
                           id="first-name"
                           placeholder="First name*"
                           v-model="firstName"
                           @keypress="isString($event)">
                    <p v-if="inputErrors.firstName" class="input-error">{{inputErrors.firstName}}</p>
                </div>
                <div class="col-right">
                    <input type="text"
                           id="last-name"
                           placeholder="Surname*"
                           v-model="lastName"
                           @keypress="isString($event)">
                    <p v-if="inputErrors.lastName" class="input-error">{{inputErrors.lastName}}</p>
                </div>
            </div>

            <div id="contact-row" class="row">
                <div class="col-left">
                    <input type="email"
                           id="email"
                           placeholder="Email address*"
                           v-model="email">
                    <p v-if="inputErrors.email" class="input-error">{{inputErrors.email}}</p>
                </div>
                <div class="col-right">
                    <input type="tel"
                           id="phone"
                           placeholder="Phone Number"
                           pattern="^[0-9]{10}"
                           v-model="phone"
                            @keypress="isNumber($event)">
                    <p v-if="inputErrors.phone" class="input-error">{{inputErrors.phone}}</p>
                </div>
            </div>

            <div id="country-row" class="row">
                <div class="col-left">
                    <form action="/">
                    <select2 :options="countryOptions"
                             :settings="countrySettings"
                             name="start-location"
                             id="start-location"
                             placeholder="From"
                             v-model="country"
                    v-if="activeStep === 3"/>
                    </form>

                </div>
                <div class="col-right">
                    <div class="ticket-person-item text-right">
                        <label for="male-number">
                            <span class="side-label">
                                Total Males
                            </span>
                            <vue-numeric-input name="number-of-tickets"
                                               id="male-number"
                                               v-model="maleTicket"
                                               :min="0"
                                               :max="maxTicket"
                                               :value="maleTicket"
                                               align="center"></vue-numeric-input>
                        </label>
                    </div>
                    <div class="ticket-person-item text-right">
                        <label for="female-number">
                            <span class="side-label">
                                Total Females
                            </span>
                            <vue-numeric-input name="number-of-tickets"
                                               id="female-number"
                                               v-model="femaleTicket"
                                               :min="0"
                                               :max="maxTicket"
                                               :value="femaleTicket"
                                               align="center"></vue-numeric-input>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueNumericInput from "vue-numeric-input";
    import Select2 from 'v-select2-component';
    import json from '../../../../data.json';

    export default {
        name: "PassengerDetails",
        components: {
            VueNumericInput,
            Select2
        },
        data: function() {
            return {
                firstName: '',
                lastName: '',
                email: '',
                phone: '',
                country: 'AU',
                maxTicket: 0,
                maleTicket: 0,
                femaleTicket: 0,
                inputErrors: {
                    firstName: false, lastName: false, email: false, phone: false
                },
                countryOptions: json,
                countrySettings: {
                    width: '100%',
                },
                activeStep: 0
            }
        },
        mounted() {

            const instance = this;
            window.Bus.$on('BookingOverviewStepChange', function() {
                let validation = instance.validatePassenger();
                if( !validation === false)
                    document.getElementById('passenger-details').scrollIntoView();
                else {
                    window.Bus.$emit('BookingOverviewPassengerDetailsCheck', true);
                    window.Bus.$emit('passengerDetails', {
                            name: instance.firstName + ' ' + instance.lastName,
                            phone: instance.phone,
                            email: instance.email,
                            males: instance.maleTicket,
                            females: instance.femaleTicket
                        }
                    );
                }
            });

            if(navigator.userAgent.match(/(iPhone|iPod|iPad|Mobile\/|Version\/14.0)/i)) {
                var style = document.createElement('style');
                style.id = 'remove-these-items';
                style.innerHTML = `
                  .select2-results__options {
                  display: block!important;
                  opacity: 1!important;
                  }
                  `;
                document.head.appendChild(style);
            }

            window.Bus.$on('changeStep', (step) => {
                instance.activeStep = step;
            });

            window.Bus.$on('numberOfTickets', (number) => {
                instance.maxTicket = parseInt(number.numberOfTickets);
                instance.maleTicket = parseInt(number.numberOfTickets);
            });

            // if( localStorage ) {
            //     Object.keys(this.$data).forEach((key) => {
            //         if( localStorage[key] !== undefined )
            //             // this.$data[key] = localStorage[key];
            //     });
            // }
        },
        watch: {
            femaleTicket: function() {
                this.changeNumberOfWomen();
            },
            maleTicket: function() {
                this.changeNumberOfMen();
            }
        },
        methods: {
            deleteProperties()
            {
                delete this.$data.inputErrors;
                delete this.$data.countryOptions;
                delete this.$data.countrySettings;
            },
            updateReturnDate(value)
            {
                if( value.value === 'One Way') {
                    document.querySelector('.vdp-datepicker__clear-button').click();
                }
            },
            changeNumberOfWomen()
            {
                let femaleTickets = this.femaleTicket,
                    maxTickets = this.maxTicket;

                this.maleTicket = maxTickets - femaleTickets;

            },
            changeNumberOfMen()
            {
                let maleTickets = this.maleTicket;
                let maxTickets = this.maxTicket;

                this.femaleTicket = maxTickets - maleTickets;

            },
            validatePassenger()
            {
                let flag = false;
                if( this.firstName === '') {
                    this.inputErrors.firstName = 'First name is required';
                    flag = true;
                } else {
                    this.inputErrors.firstName = false;
                }

                if( this.lastName === '') {
                    this.inputErrors.lastName = 'Surname is required';
                    flag = true;
                } else {
                    this.inputErrors.lastName = false;
                }

                if( this.email === '') {
                    this.inputErrors.email = 'Email is required';
                    flag = true;
                } else {
                    this.inputErrors.email = false;
                }

                var pattern = /^\+?\d{1,15}$/;
                if(this.phone === '') {
                    this.inputErrors.phone = 'Phone Number is required';
                    flag = true;
                } else if( !pattern.test(this.phone) ) {
                    this.inputErrors.phone = 'Not a valid phone number';
                    flag = true;
                } else {
                    this.inputErrors.phone = false;
                }

                return flag;
            },
            isNumber: function(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;

                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46 && evt.key !== '+') {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            isString: function(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ( (charCode >= 65 && charCode <= 90) || (charCode >= 95 && charCode <= 122) ) {
                    return true;
                } else {
                    evt.preventDefault();
                }
            }
        },
    }
</script>

<style scoped>
.side-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

    @media only screen and (max-width:767px) {
        .ticket-person-item {
            text-align: left!important;
        }
    }
</style>