<template>
    <div id="booking-overview">
        <Summary />
        <PassengerDetails />
        <AddOns />
        <Total />
        <div class="finalise">
            <label for="tandc-accept"
                   class="text-center"
                    :class="tAndCAcceptance ? 'checked' : null">
                <input type="checkbox"
                       name="tandc-accept"
                       id="tandc-accept"
                        v-model="tAndCAcceptance"
                        value="true">
                I understand and accept the Terms & Conditions and Privacy Policy.
                This includes my responsibility, to have sought the correct exemption
                of travel for all relevant border crossing restrictions in place for
                the SA, NT & WA inter and intra state travel.
            </label>
            <div class="button-wrapper">
                <button type="button"
                        class="next-step"
                        :disabled="tAndCAcceptance === false"
                        @click="nextStep">Continue</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Summary from "../global/Summary";
    import PassengerDetails from "./modules/PassengerDetails";
    import AddOns from "./modules/AddOns";
    import Total from "../global/Total";

    export default {
        name: "BookingOverview",
        data: function() {
            return {
                tAndCAcceptance: false,
            }
        },
        components: {
            Summary,
            PassengerDetails,
            AddOns,
            Total
        },
        methods: {
            nextStep()
            {
                window.Bus.$emit('BookingOverviewStepChange');
            }
        },
        mounted() {
            window.Bus.$on('BookingOverviewPassengerDetailsCheck', function(passValidation) {
                if( passValidation === true) {
                    window.Bus.$emit('changeStep', 4);
                    window.Bus.$emit('sendFareToTotalAction', {})
                }
            });
        }
    }
</script>

<style scoped>
    #app .finalise input {
        width: auto;
        min-height: auto;
        display: none;
    }

    #app .finalise label:before {
        display: inline-flex;
        width: 14px;
        height: 14px;
        border: 2px solid crimson;
        align-items: center;
        justify-content: center;
        font-family: fontawesome;
        content: "\f00c";
        font-size: 12px;
        color: transparent;
    }

    #app .finalise label.checked:before {
        color: crimson;
    }

    .finalise label {
        font-size: 12px;
        padding: 0 60px;
    }

    .finalise .button-wrapper {
        margin-top: 20px;
    }

    @media only screen and (max-width: 767px) {
        .finalise label {
            padding: 0!important;
        }
    }
</style>