<template>
    <div id="booking-confirmation">
        <Summary />
        <Total />
        <Payment />
    </div>
</template>

<script>
    import Summary from "../global/Summary";
    import Total from "../global/Total";
    import Payment from "./modules/Payment";
    export default {
        name: "BookingConfirmation",
        data: function() {
            return {

            }
        },
        components: {
            Summary,
            Total,
            Payment
        }
    }
</script>
