<template>
    <div id="summary" class="single-section">
        <h2 class="overview-header">
            Booking Summary
        </h2>
        <div class="container">
            <div class="row">
                <p class="col-full text-center summary-location-wrapper">
                    <span class="summary-location">
                        {{startLocation}}
                        <p class="date text-center">
                            {{startDates.totalDropoff.pickUp.date}}
                        </p>
                        <p class="date text-center">
                            {{startDates.totalDropoff.pickUp.time}}
                        </p>
                    </span>
                    <i class="fa fa-long-arrow-right"></i>
                    <span class="summary-location">{{endLocation}}
                        <p class="date text-center">
                            {{startDates.totalDropoff.dropOff.date}}
                        </p>
                        <p class="date text-center">
                            {{startDates.totalDropoff.dropOff.time}}
                        </p>
                    </span>
                </p>
            </div>
            <div class="row" v-if="incReturnTrip !== 'One Way'">
                <p class="col-full text-center summary-location-wrapper">
                    <span class="summary-location">
                        {{endLocation}}
                        <p class="date text-center">
                            {{endDates.totalDropoff.pickUp.date}}
                        </p>
                        <p class="date text-center">
                            {{endDates.totalDropoff.pickUp.time}}
                        </p>
                </span>
                    <i class="fa fa-long-arrow-right"></i>
                    <span class="summary-location">{{startLocation}}
                        <p class="date text-center">
                            {{endDates.totalDropoff.dropOff.date}}
                        </p>
                        <p class="date text-center">
                            {{endDates.totalDropoff.dropOff.time}}
                        </p>
                    </span>
                </p>
            </div>
            <div class="summary-info">
              {{passengers}} x passenger<span v-if="passengers > 1">s</span> - {{service.replace('N', '')}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Summary",
        data: function() {
            return {
                startLocation: '',
                endLocation: '',
                incReturnTrip: localStorage.incReturnTrip,
                activeStep: localStorage.activeStep,
                startDates: {},
                endDates: {},
                passengers: 0,
                service: null
            }
        },
        mounted() {
            let main = this;
            window.Bus.$on('setLocations', function(locations) {
                main.startLocation = locations.startLocation.Description;
                main.endLocation = locations.endLocation.Description;
            });
            window.Bus.$on('setDateStrings', function(dates){
                main.startDates = dates.startDates;
                main.endDates = dates.endDates;
                main.incReturnTrip = dates.incReturnTrip;
            });
            window.Bus.$on('setServiceName', function(service) {
                main.service = service.service.name;
            });
            window.Bus.$on('numberOfTickets', function(number) {
                main.passengers = parseInt(number.numberOfTickets);
            });
        },
        methods: {
        }
    }
</script>

<style scoped>
    .summary-location-wrapper {
        display: flex;
        justify-content: center;
    }
    .summary-location {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        width: 30%;
    }
    .summary-location .date{
        font-size: 12px;
    }

    i {
        font-size: 28px;
        color: crimson;
        width: 10%;
    }

    .row {
        margin: 0!important;
    }

    p {
        margin: 5px 0;
    }

    .date {
        line-height: 1;
    }

    .date:first-of-type {
        margin-top: 10px;
    }

    @media only screen and (max-width: 1024px) {
        .summary-location-wrapper {
            flex-wrap: wrap;
        }

        .summary-location {
            width: 100%;
        }

        i {
            margin-bottom: 10px;
        }
    }
</style>