<template>
    <div id="total" class="single-section">
        <h2 class="overview-header">
            Booking Total
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-left text-left border-top border-bottom border-right">
                    <p v-if="farePrice > 0"
                       class="total-line-description">
                        Fare Price
                    </p>
                    <p v-if="addOnsPrice > 0"
                       class="total-line-description">
                        Add-Ons
                    </p>
                </div>
                <div class="col-right border-top border-bottom text-right">
                    <p v-if="farePrice > 0"
                       class="total-line-price">
                        ${{farePrice}}
                    </p>
                    <p v-if="addOnsPrice > 0"
                       class="total-line-price">
                        ${{addOnsPrice}}
                    </p>
                </div>
            </div>
        </div>
        <div class="total-price-overview text-center">
            <p class="total-price-amount">
                <span class="total-price-amount-text">
                    Total to pay:
                </span>
                <span class="total-price-amount-value">
                    ${{totalPrice}}
                </span>
            </p>
            <p class="total-price-subtext">
                All prices include 10% GST
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Total",
        data: function() {
            return {
                totalPrice: 0,
                farePrice: parseInt(window.localStorage.selectedTicketPrice),
                addOnsPrice: 0
            }
        },
        mounted() {

            const total = this;
            // this.getLocalStoragePrices();
            this.calculateTotal();

            window.Bus.$on('ticketSelectionComplete', (tickets) => {
                total.farePrice = tickets.baseFare;
                total.calculateTotal();
            });

            window.Bus.$on('updateBaggage', function(baggage) {
                total.addOnsPrice = (baggage.forwardBags * 20) + (baggage.returnBags * 20);
                total.calculateTotal();
                total.setLocalStorage(total.$data);
            });

            window.Bus.$on('sendFareToTotalAction', function() {
                window.Bus.$emit('sendFareToPayment', {totalFare: total.totalPrice});
            });
        },
        methods: {
            getLocalStoragePrices()
            {
                if(localStorage.excessBaggage)
                    this.addOnsPrice = localStorage.excessBaggage === 'one' ? 10 : localStorage.excessBaggage === 'two' ? 20 : 0;
            },
            calculateTotal()
            {
                this.totalPrice = localStorage.totalPrice = this.farePrice + this.addOnsPrice;
            }
        }
    }
</script>

<style scoped>
    #total > .container {
        max-width: 350px;
        margin: 0 auto;
        padding-bottom: 0;
    }

    .border-top {
        border-top: 1px solid rgba(220, 20, 60, 0.5);
    }

    .border-bottom {
        border-bottom: 1px solid rgba(220, 20, 60, 0.5);
    }

    .border-right {
        border-right: 1px solid rgba(220, 20, 60, 0.5);
    }

    .container .row .col-left,
    .container .row .col-right {
        margin: 0!important;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .total-line-description,
    .total-line-price {
        margin: 5px 0;
        font-size: 12px;
        font-weight: bold;
    }

    .total-price-overview p {
        margin: 0;
    }

    .total-price-overview .total-price-subtext {
        margin-top: 5px;
        font-size: 10px;
        color: crimson;
        margin-bottom: 20px;
    }

    .total-price-amount-text {
        font-size: 16px;
        font-weight: bold;
    }

    .total-price-amount-value {
        font-size: 20px;
        font-weight: bold;
        color: crimson;
    }

    @media only screen and (max-width: 767px) {
        #total .row .col-left,
        #total .row .col-right {
            width: 50%!important;
        }

        .total-price-amount {
            margin-top: 20px!important;
        }
    }
</style>