<template>
    <nav class="booking-nav-wrapper">
        <ul>
            <li :class="navClass(1)">
                1
            </li>
            <li :class="navClass(2)">
                2
            </li>
            <li :class="navClass(3)">
                3
            </li>
            <li :class="navClass(4)">
                4
            </li>
            <li :class="navClass(5)">
                5
            </li>
        </ul>
        <div class="button-wrapper">
            <div class="back-wrapper"
                 v-if="steps.currentActive > 1 && steps.currentActive < 5 ">
                <a href="#"
                   v-on:click="prevStep">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                </a>
            </div>
            <div class="cancel-wrapper" v-if="!isPage">
                <a href="#"
                   v-on:click="closeBooking">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <span v-if="steps.currentActive < 5">Cancel</span>
                    <span v-else>Close</span>
                </a>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'BookingNav',
        props: {
            steps: Object,
            isPage: Boolean,
            showReturnTicket: Boolean
        },
        data: function() {
            return {
            }
        },
        methods: {
            prevStep()
            {
                if(this.showReturnTicket && this.steps.currentActive === 2) {
                    window.Bus.$emit('showReturnTicketApp', {showReturnTicket: false});
                }
                else if(this.isPage && this.steps.currentActive === 2)
                    window.location = '/';
                else
                    window.Bus.$emit('changeStep', this.steps.currentActive - 1);
            },
            navClass(step)
            {
                let activeClass = 'active',
                    prevClass = 'prev',
                    activeStep = this.steps.currentActive;

                if(step === activeStep )
                    return activeClass;

                if( step < activeStep)
                    return prevClass;
            },
            closeBooking()
            {
                window.Bus.$emit('showBooking', false);
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
    .booking-nav-wrapper {
        background: #fff;
        width: 100%;
    }

    ul {
        background: crimson;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding-left: 0;
    }
    ul li {
        width: 100%;
        color: #fff;
        padding: 15px 0 15px 15px;
        position: relative;
    }

    ul li.active,
    ul li.prev {
        background: #fe617f;
    }

    ul li:not(:last-of-type):before {
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent;
        border-left: 20px solid crimson;
        content: " ";
        display: block;
        position: absolute;
        right: -18px;
        top:0;
        bottom: 0;
        z-index: 5;
    }

    ul li:not(:last-of-type):after {
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent;
        border-left: 20px solid #fe617f;
        content: " ";
        display: block;
        position: absolute;
        right: -20px;
        top:0;
        bottom: 0;
        z-index: 2;
    }

    ul li.active:not(:last-of-type):after {
        z-index: 10;
        right: -18px;
    }
    ul li.prev:not(:last-of-type):after,
    ul li.prev:not(:last-of-type):before {
        display: none;
    }

    .button-wrapper {
        display: flex;
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

    .button-wrapper > div {
        width: 100%;
    }

    .back-wrapper {
        text-align: left;
    }

    .cancel-wrapper {
        text-align: right;
    }

    .back-wrapper a,
    .cancel-wrapper a {
        color: #000;
        text-decoration: none;
        font-size: 12px;
        transition: all linear 0.25s;
    }

    .back-wrapper a:hover,
    .cancel-wrapper a:hover {
        color: #666;
    }
</style>