<template>
    <div id="select-destination" data-step="1">
        <form class="destination-finder-form container">
            <div id="destination-row" class="row">
                <div class="col-left">
                    <select2 :options="stopOptions"
                             :settings="stopSettings"
                             name="start-location"
                             id="start-location"
                             placeholder="From"
                             v-model="startLocation" />
                    <p v-if="inputErrors.startLocation" class="input-error">{{inputErrors.startLocation}}</p>
                </div>
                <div class="col-right">
                    <select2 :options="stopOptions"
                             :settings="stopSettings" name="end-location"
                             id="end-location"
                             placeholder="To"
                             v-model="endLocation" />
                    <p v-if="inputErrors.endLocation" class="input-error">{{inputErrors.endLocation}}</p>
                </div>
            </div>

            <div id="date-travel" class="row">
                <div id="return-toggle-switch-wrapper" class="col-left">
                    <toggle-switch :options="oneWayReturnSelector"
                                   @change="updateReturnDate"
                                   v-model="incReturnTrip"
                                   name="inc-return-trip"/>
                </div>

                <div id="date-selector-wrapper" class="col-right">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="col-left">
                                <span class="top-label text-left">
                                    Departing
                                </span>
                                <Datepicker name="depart-date"
                                            placeholder="Choose Date"
                                            v-model="departDateFull"
                                            required
                                            format="D, d MMM yyyy"/>
                                <p v-if="inputErrors.departDateFull" class="input-error">{{inputErrors.departDateFull}}</p>
                            </div>
                            <div class="col-right">
                                <span class="top-label text-left">
                                    Returning
                                </span>
                                <Datepicker name="return-date"
                                            placeholder="Choose Date"
                                            ref="returnDate"
                                            v-model="returnDateFull"
                                            required
                                            :disabled="incReturnTrip === 'One Way'"
                                            :clear-button="true"
                                            format="D, d MMM yyyy"/>
                                <p v-if="inputErrors.returnDateFull" class="input-error">{{inputErrors.returnDateFull}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="ticket-needs" class="row">
                <div id="passengers" class="col-left">
                    <span class="top-label text-left">
                        Number Of Seats
                    </span>
                    <vue-numeric-input name="number-of-tickets"
                                       v-model="numberOfTickets"
                                       :min="1"
                                       align="center"></vue-numeric-input>
                    <p v-if="inputErrors.numberOfTickets" class="input-error">{{inputErrors.numberOfTickets}}</p>
                </div>
                <div id="assistance" class="col-right">
                    <select2 :options="assistanceOptions"
                             :settings="assistanceSettings"
                             placeholder="Choose assistance type if required"
                             v-model="assistance"></select2>
                </div>
            </div>

            <div class="button-wrapper">
                <button type="button"
                        class="next-step"
                        @click="nextStep">
                    Find Available Trips

                </button>
            </div>

        </form>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import VueNumericInput from "vue-numeric-input";
    import Select2 from "v-select2-component";

    export default {
        name: "SelectDestination",
        components: {
            Datepicker,
            VueNumericInput,
            Select2
        },
        props: {
            stops: Array,
            states: Array
        },
        data: function() {
            return {
                startLocation: '',
                endLocation: '',
                incReturnTrip: false,
                departDate: null,
                returnDate: '',
                departDateFull: null,
                returnDateFull: null,
                numberOfTickets: 1,
                assistance: [],
                inputErrors: {
                    startLocation: false, endLocation: false, departDateFull: false,
                    returnDateFull: false, numberOfTickets: false
                },
                oneWayReturnSelector: {
                    layout: {
                        color: 'black',
                        backgroundColor: '#fff',
                        selectedColor: 'white',
                        selectedBackgroundColor: 'green',
                        borderColor: 'black',
                        fontFamily: 'Arial',
                        fontWeight: 'normal',
                        fontWeightSelected: 'normal',
                        squareCorners: false,
                        noBorder: false
                    },
                    items: {
                        delay: .4,
                        preSelected: 'One Way',
                        disabled: false,
                        labels: [
                            {name: 'One Way', color: '#fff', backgroundColor: 'crimson'},
                            {name: 'Return', color: '#fff', backgroundColor: 'crimson'}
                        ]
                    }
                },
                assistanceOptions: [
                    {
                        id: 'wheelchair',
                        text: "Wheelchair",
                    },
                    {
                        id: 'hearing',
                        text: "Hearing Impaired",
                    },
                    {
                        id: 'vision',
                        text: "Vision Impaired",
                    },
                    {
                        id: "medical",
                        text: "Medical Condition",
                    },
                ],
                assistanceSettings: {
                    multiple: true,
                    width: '100%',
                },
                stopOptions: [],
                stopSettings: {
                    width: '100%',
                }
            }
        },
        mounted() {
            if( localStorage ) {
                Object.keys(this.$data).forEach((key) => {
                    if( localStorage[key] !== undefined )

                        this.$data[key] = localStorage[key];
                });
            }
            window.Bus.$on('stopList', this.setStops);
        },
        methods: {
            nextStep()
            {
                let main = this;
                if( this.validate() ) return false;

                this.setDateStrings();
                window.Bus.$emit('setInputDates', {departDate: this.departDate, returnDate: this.returnDate});
                this.deleteProperties();
                this.setLocalStorage(this.$data);
                window.Bus.$emit('changeStep', 2);
                window.Bus.$emit('setTickets', {
                    departDate: main.departDate,
                    returnDate: main.returnDate,
                    startLocation: main.startLocation,
                    endLocation: main.endLocation
                });
            },
            deleteProperties()
            {
                delete this.$data.oneWayReturnSelector;
                delete this.$data.assistanceOptions;
                delete this.$data.assistanceSettings;
                delete this.$data.departDateFull;
                delete this.$data.returnDateFull;
                delete this.$data.stopOptions;
                delete this.$data.stopSettings;
                delete this.$data.inputErrors;
            },
            setDateStrings()
            {
                const format = new Intl.DateTimeFormat('en', {year: 'numeric', month: '2-digit', day: '2-digit'});
                const departDateInput = document.querySelector('[name="depart-date"]').value;
                const returnDateInput = document.querySelector('[name="return-date"]').value;

                if( this.departDateFull !== 'undefined' || departDateInput.length > 0) {
                    const [{value: month},, {value: day},, {value: year}] = format.formatToParts(this.departDateFull);
                    this.departDate = `${year}-${month}-${day}`;
                }

                if( this.returnDateFull !== 'undefined' && returnDateInput.length > 0) {
                    const [{value: month},, {value: day},, {value: year}] = format.formatToParts(this.returnDateFull);
                    this.returnDate = `${year}-${month}-${day}`;
                }
            },
            updateReturnDate(value)
            {
                if( value.value === 'One Way') {
                    document.querySelector('.vdp-datepicker__clear-button').click();
                }
            },
            validate()
            {
                const departDateInput = document.querySelector('[name="depart-date"]').value;
                const returnDateInput = document.querySelector('[name="return-date"]').value;
                let flag = false;
                if( this.startLocation === '') {
                    this.inputErrors.startLocation = 'Pickup location is required';
                    flag = true;
                } else {
                    this.inputErrors.startLocation = false;
                }

                if( this.endLocation === '') {
                    this.inputErrors.endLocation = 'Drop off Location is required';
                    flag = true;
                } else {
                    this.inputErrors.endLocation = false;
                }

                if( this.numberOfTickets === 0 || this.numberOfTickets === '') {
                    this.inputErrors.numberOfTickets = 'Number of tickets is required';
                    flag = true;
                } else {
                    this.inputErrors.numberOfTickets = false;
                }

                if( this.departDateFull === 'undefined' || departDateInput.length === 0 ) {
                    this.inputErrors.departDateFull = 'Departure date is required';
                    flag = true;
                } else {
                    this.inputErrors.departDateFull = false;
                }

                if( (this.returnDateFull === 'undefined' || returnDateInput.length === 0) && this.incReturnTrip === 'Return' ) {
                    this.inputErrors.returnDateFull = 'Return date is required';
                    flag = true;
                } else {
                    this.inputErrors.returnDateFull = false;
                }

                return flag;
            },
            setStops(stopData)
            {
                this.stopOptions = [
                    {
                        id: 'test',
                        text: 'test'
                    },
                    {
                        id: 'test2',
                        text: 'test2'
                    }
                ];

                let stops = stopData.stops,
                    states = stopData.states;

                states.forEach( (value, index) => {
                    let parentIndex = index;

                    this.stopOptions[parentIndex] = {
                        id: value,
                        text: value,
                        children: []
                    }

                    stops[value].forEach( (stop, index) => {
                        this.stopOptions[parentIndex].children[index] = {
                            id: stop.Code,
                            text: stop.Description
                        }
                    });
                });
            }
        }
    }
</script>

<style scoped>
    i {
        cursor: pointer;
    }

    #select-destination {
        height: 420px;
    }

    #app .container .row {
        margin: 40px 0;
    }

    #app .container .row:first-of-type {
        margin-top: 0;
    }

    @media only screen and (max-width: 767px) {
        #date-selector-wrapper {
            margin-top: 15px!important;
        }

        #date-selector-wrapper .col-right {
            margin-top: 40px!important;
            margin-bottom: 10px!important;
        }
    }
</style>