<template>
    <div id="payment-received">
        <h2>Booking Complete</h2>
        <div class="tick-wrapper">
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="container">
            <p class="info">
                Your booking number is
            </p>
            <p class="booking-number">
                {{booking.bookingNumber}}
            </p>
            <p class="email-text">
                We have emailed confirmation and your ticket to
                <br />
                <span class="email-address">
                    {{email}}
                </span>
            </p>
            <div class="button-wrapper">
                <a href="https://booking.fireflyexpress.com.au/shuttles/Account/Login?CID=FFC" class="button" type="button"  style="display: inline-block;">
                    Manage Your Booking
                </a>
            </div>
            <p class="manage">
                You can manage your booking by clicking the button below
            </p>
            <div class="button-wrapper">
                <a :href="booking.ticketLink" class="button" type="button" style="display: inline-block;">
                    View Your Ticket
                </a>
            </div>
            <p class="sub-text">
                If you have any problems with your booking, please contact us on
                <br />
                <a href="#">1300 111 222</a>
            </p>
            <div class="button-wrapper">
                <a href="/" class="button" type="button" style="display: inline-block;">
                    Return To Home
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PaymentReceived",
        data() {
            return {
                email: localStorage.email,
                booking: {
                    bookingNumber: '',
                    ticketLink: ''
                }
            }
        },
        mounted() {
            let main = this;
            window.Bus.$on('completePayment', (data) => {
                main.booking.bookingNumber = data.bookingNumber;
                main.$cookies.remove('origin');
                main.$cookies.remove('destination');
                main.$cookies.remove('departDate');
                main.$cookies.remove('returnDate');
                main.$cookies.remove('passengers');
                main.$cookies.remove('tripType');

                window.axios.post('https://cloud.itmprojects.com.au/webservice/ShuttlesWS.asmx/GetTicketToken',
                    {
                        username: 'DanielL',
                        password: 'Larson99',
                        booking: main.booking.bookingNumber
                    }
                ).then(
                    (ticket) => {
                        main.booking.ticketLink = JSON.parse(ticket.request.response).d.Url;
                    }
                );
            });
        },
        methods: {
            manageBooking()
            {
                window.location = 'https://booking.fireflyexpress.com.au/shuttles/Account/Login?CID=FFC';
            },
            showTicket()
            {
                window.location = this.booking.ticketLink;
            }
        }
    }
</script>

<style scoped>
    .button {
        text-decoration: none;
    }
    .fa-check-circle {
        color: #41af33;
        font-size: 90px;
    }

    .booking-number {
        color: crimson;
        font-weight: bold;
        font-size: 18px;

    }

    .email-address {
        color: crimson;
        font-weight: bold;
    }

    .button-wrapper {
        margin-bottom: 20px;
    }

    .sub-text {
        font-size: 14px;
    }

    .sub-text a {
        color: crimson;
        text-decoration: none;
        font-weight: bold;
    }

    .sub-text a:hover {
        text-decoration: underline;
    }
</style>