<template>
    <div id="payment" class="single-section">
        <h2 class="overview-header">
            Payment
        </h2>
        <div class="container">
            <a v-if="showVoucher === 0"
               href="javascript:void(0)"
               @click="showVoucher = 1" style="margin-bottom: 20px; display: inline-block;">
                Add a voucher
            </a>
            <input type="text"
                   id="voucher"
                   placeholder="Voucher"
                   v-model="voucher" v-if="showVoucher === 1" style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-left credit-card-items">
                    <input type="text"
                           id="credit-card-one"
                           placeholder="xxxx"
                           maxlength="4"
                           v-model="creditCardOne">
                    <input type="text"
                           id="credit-card-two"
                           placeholder="xxxx"
                           maxlength="4"
                           v-model="creditCardTwo">
                    <input type="text"
                           id="credit-card-three"
                           placeholder="xxxx"
                           maxlength="4"
                           v-model="creditCardThree">
                    <input type="text"
                           id="credit-card-four"
                           placeholder="xxxx"
                           maxlength="4"
                           v-model="creditCardFour">
                </div>
                <div class="col-right">
                    <input type="text"
                           id="name"
                           placeholder="Card Holder Name*"
                           v-model="cardHolderName">
                </div>
            </div>
            <div class="row">
                <div class="col-credit-card">

                    <select2 :options="monthOptions"
                             :settings="settings"
                             id="month"
                             placeholder="MM*"
                             v-model="month" />
                </div>
                <div class="col-credit-card">

                    <select2 :options="yearOptions"
                             :settings="settings"
                             id="year"
                             placeholder="YY*"
                             v-model="year" />
                </div>
                <div class="col-credit-card">
                    <input type="text"
                           id="cvv"
                           placeholder="CVV*"
                           v-model="cvv">
                </div>
            </div>
            <div class="button-wrapper full">
                <button type="button"
                        class="next-step"
                        @click="finalisePayment"
                        :disabled="loadingPayment">
                    <span v-if="loadingPayment === false">Pay ${{totalPrice}} Now</span>
                    <span v-if="loadingPayment === true">
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                    </span>
                </button>
                <div class="col-full" style="margin-top: 20px;">
                </div>
                <p class="payment-error"
                   v-if="inputErrors.payment">
                    {{inputErrors.payment}}
                </p>
            </div>

        </div>
    </div>
</template>

<script>
    import Select2 from "v-select2-component";

    export default{
        name: "Payment",
        components: {
            Select2
        },
        data: function() {
            return {
                creditCardOne: '',
                creditCardTwo: '',
                creditCardThree: '',
                creditCardFour: '',
                month: '',
                year: '',
                cvv: '',
                cardHolderName: '',
                voucher: null,
                loadingPayment: false,
                paymentDetails: {
                    code: false,
                    status: false,
                    message: false
                },
                inputErrors: {
                    cardNumber: false, month: false, year: false, cvv: false, payment: false
                },
                totalPrice: 0,
                forwardTicket: [],
                returnTicket: [],
                forwardTicketDate: null,
                returnTicketDate: null,
                startLocation: null,
                endLocation: null,
                numberOfTickets: 0,
                name: '',
                phone: '',
                email: '',
                assistance: '',
                wheelchair: false,
                male: 0,
                female: 0,
                showVoucher: 0,
                specialReturn: 0,
                specialForward: 0,
                settings: {
                    width: '100%',
                    minimumResultsForSearch: -1
                },
                monthOptions: [
                    '01', '02', '03', '04', '05', '06',
                    '07', '08', '09', '10', '11', '12'
                ],
                yearOptions: this.getYearsForDropdown(),
              forwardBags: 0,
              returnBags: 0
            }
        },
        mounted() {
            let main = this;
            window.Bus.$on('sendFareToPayment', (total) => {
                main.totalPrice = total.totalFare;
            });
            window.Bus.$on('ticketSelectionComplete', (tickets) => {
                main.forwardTicket = tickets.forwardTicket;
                main.returnTicket = tickets.returnTicket;
                main.specialForward = tickets.specialForward;
                main.specialReturn = tickets.specialReturn;
                main.numberOfTickets = tickets.number;
            });
            window.Bus.$on('setTicketDates', (dates) => {
                main.forwardTicketDate = dates.forwardDate;
                main.returnTicketDate = dates.returnDate;
            });
            window.Bus.$on('locations', (locations) => {
                main.startLocation = locations.pickup;
                main.endLocation = locations.dropoff;
            });
            window.Bus.$on('passengerDetails', (passenger) => {
                main.name = passenger.name;
                main.phone = passenger.phone;
                main.email = passenger.email;
                main.male = passenger.males;
                main.female = passenger.females;
            });
            window.Bus.$on('assistance', (assistance) => {
                assistance.forEach( (value) => {
                    if( value === 'wheelchair' )
                        main.wheelchair = true;
                    else
                        main.assistance += value + ',';
                });
            });
            window.Bus.$on('updateBaggage', (bags) => {
              this.forwardBags = bags.forwardBags;
              this.returnBags = bags.returnBags;
            });
            window.Bus.$on('completePayment', () => {
                if( main.paymentDetails.status === '0' ) {
                    setTimeout(function () {
                        window.Bus.$emit('changeStep', 5);
                    }, 4000);
                } else {
                    main.loadingPayment = false;
                }
            });
        },
        methods: {
            getYearsForDropdown()
            {
                let currentYear = new Date().getFullYear(),
                    endYear = currentYear + 10,
                    yearsArray = [],
                    i;

                for( i = currentYear; i <= endYear; i++) {
                    yearsArray.push(
                        {
                            id: i.toString().slice(2),
                            text: i.toString()
                        }
                    )
                }

                return yearsArray;
            },
            finalisePayment()
            {
              if(this.loadingPayment !== true) {
                this.loadingPayment = true;
                this.sendPayment();
              }
            },
            sendPayment()
            {
              const instance = this;
                const url = 'https://cloud.itmprojects.com.au/webservice/KioskWS.asmx',
                    forwardTicket = '<run>'+ this.forwardTicket.name.split(',')[0]+'</run>\n',
                    returnTicket = this.returnTicket ? '<returnRun>'+ this.returnTicket.name.split(',')[0]+'</returnRun>\n' : '\n',
                    specialForwardTicket = this.specialForward ? '<ForwardSpecialFare>1</ForwardSpecialFare>\n' : '<ForwardSpecialFare>0</ForwardSpecialFare>\n',
                    specialReturnTicket = this.specialReturn ? '<ReturnSpecialFare>1</ReturnSpecialFare>\n' : '<ReturnSpecialFare>0</ReturnSpecialFare>\n',
                    forwardDate = '<date>'+ this.forwardTicketDate+'</date>\n',
                    returnDate = '<returnDate>'+ this.returnTicketDate+'</returnDate>\n',
                    startLocation = '<pickup>'+this.startLocation+'</pickup>\n',
                    endLocation = this.endLocation ? '<dropOff>'+this.endLocation+'</dropOff>\n' : '\n',
                    tickets = "<tickets>[{'Code': 'AD', 'Quantity': '"+this.numberOfTickets+"'}]</tickets>\n",
                    name = '<Name>' + this.name + '</Name>\n',
                    phone = '<Mobile>' + this.phone + '</Mobile>\n',
                    email = '<Email>' + this.email + '</Email>\n',
                    fee1 = '<Fee>\n<Code>ADD BAGS</Code>\n<Quantity>'+ this.forwardBags+'</Quantity>\n<Service>'+this.forwardTicket.name.split(',')[0]+'</Service>\n<PassengerNo>'+this.numberOfTickets+'</PassengerNo>\n</Fee>\n',
                    fee2 = this.returnTicket ? '<Fee>\n<Code>ADD BAGS</Code>\n<Quantity>'+ this.returnBags+'</Quantity>\n<Service>'+this.returnTicket.name.split(',')[0]+'</Service>\n<PassengerNo>'+this.numberOfTickets+'</PassengerNo>\n</Fee>\n' : '\n',
                    voucher = '<Voucher>' + this.voucher + '</Voucher>\n',
                    male = '<NumberOfMales>' + this.male + '</NumberOfMales>\n',
                    female = '<NumberOfFemales>' + this.female + '</NumberOfFemales>\n',
                    cardHolder = '<CardHolder>' + this.cardHolderName + '</CardHolder>\n',
                    cardNumber = '<CardNo>' + this.creditCardOne +this.creditCardTwo +this.creditCardThree +this.creditCardFour + '</CardNo>\n',
                    expiry = '<CardExpiry>' + this.month + '/' + this.year + '</CardExpiry>\n',
                    cvv = '<CVV>' + this.cvv + '</CVV>\n',
                    wheelchair = '<Wheelchair>' + this.wheelchair + '</Wheelchair>\n',
                    assistance = '<Comment>' + this.assistance + '</Comment>\n',
                    paymentType = 'R';


                let data = '<?xml version="1.0" encoding="utf-8"?>' +
                    '<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">\n' +
                    '  <s:Body>\n' +
                    '    <BookShuttle xmlns="https://cloud.itmprojects.com.au/webservice/KioskWS.asmx">\n' +
                    '      <username>wbkgagnt</username>\n' +
                    '      <password>fire20fly!</password>\n' +
                    startLocation+
                    endLocation+
                    tickets+
                    forwardDate+
                    returnDate+
                    forwardTicket+
                    returnTicket +
                    '      <paymentModel>\n' +
                    '        <PaymentType>'+paymentType+'</PaymentType>\n' +
                            specialForwardTicket +
                            specialReturnTicket +
                            name+
                            phone+
                        email+
                            assistance+
                            wheelchair+
                            voucher+
                            male+
                            female+
                    '<Fees>\n' + fee1 + fee2 + '</Fees>\n' +
                    '        <Card>\n' +
                                cardHolder+
                                cardNumber+
                                expiry+
                                cvv+
                    '        </Card>\n' +
                    '      </paymentModel>\n' +
                    '    </BookShuttle>\n' +
                    '  </s:Body>\n' +
                    '</s:Envelope>\n';

                // let data2 = {
                //     username: 'DanielL',
                //     password: 'Larson99',
                //
                // }

                var parseString = require('xml2js').parseString;

                const main = this;
              this.inputErrors.payment = false;
                if(!this.month || !this.year) {
                  this.inputErrors.payment = 'Expiry Month and Year must be selected';
                  this.loadingPayment = false;
                } else {
                  window.axios.post(
                      url,
                      data,
                      {
                        headers:
                            {
                              'Content-Type': 'text/xml',
                              'SOAPAction': 'https://cloud.itmprojects.com.au/webservice/KioskWS.asmx/BookShuttle'
                            }
                      }
                  ).then(data => {
                    instance.inputErrors.payment = false;
                    parseString(data.data, (err, result) => {

                      let response = result["soap:Envelope"]["soap:Body"][0].BookShuttleResponse[0].BookShuttleResult[0];

                      main.paymentDetails.status = response.Status[0];

                      if (typeof response.Error !== 'undefined') {
                        instance.inputErrors.payment = response.Error[0];
                        instance.loadingPayment = false;
                      } else {
                        /* eslint-disable */
                        //track conversion
                        if (gtag_report_booking_complete !== "undefined" && typeof gtag_report_booking_complete === "function"){
                          gtag_report_booking_complete(window.location);
                        }
                        /* eslint-enable */

                        window.Bus.$emit('completePayment', {
                          bookingNumber: response.BookingNumber[0]
                        });
                      }
                    });
                  }).catch(function (error) {
                    console.log(error);
                    instance.loadingPayment = false;
                  });
                }
            }
        },
      watch: {
          creditCardOne: (val) => {
            if(val.length === 4)
              document.getElementById('credit-card-two').focus();
          },
          creditCardTwo: (val) => {
            if(val.length === 4)
              document.getElementById('credit-card-three').focus();
          },
          creditCardThree: (val) => {
            if(val.length === 4)
              document.getElementById('credit-card-four').focus();
          },
          creditCardFour: (val) => {
            if(val.length === 4)
              document.getElementById('name').focus();
          }
      }
    }
</script>

<style scoped>
    .button-wrapper button {
        width: 100%;
    }

    .column-third {
        margin: 0;
    }

    .col-credit-card:not(:last-of-type) {
        margin-right: 20px;
        width: 22%;
    }

    .button-wrapper button span {
        display: block;
        text-align: center;
    }

    .block {
         position: relative;
         box-sizing: border-box;
         display: inline-block;
         margin: 0 10px 10px 0;
         width: 12px;
         height: 12px;
         border-radius: 3px;
         background: #FFF;
     }

    .block:nth-child(4n+1) { animation: wave 2s ease .0s infinite; }
    .block:nth-child(4n+2) { animation: wave 2s ease .2s infinite; }
    .block:nth-child(4n+3) { animation: wave 2s ease .4s infinite; }
    .block:nth-child(4n+4) { animation: wave 2s ease .6s infinite; margin-right: 0; }

    @keyframes wave {
        0%   { top: 0;     opacity: 1; }
        50%  { top: 15px;  opacity: .2; }
        100% { top: 0;     opacity: 1; }
    }

    @media only screen and (max-width: 1024px) {
        .col-credit-card {
            width: calc( 33% - 20px);
        }
    }

    @media only screen and (max-width: 767px) {
        .col-full {
            margin-bottom: 20px;
        }

        .col-credit-card:not(:last-of-type) {
            margin-bottom: 20px!important;
            margin-right: 0!important;
        }

        .col-credit-card {
            width: 100% !important;
        }

        .col-credit-card:first-of-type {
            margin-top: 20px;
        }
    }

    .credit-card-items {
      text-align: left!important;
    }

    .credit-card-items input {
      max-width: calc(25% - 10px);
    }

    .credit-card-items input:not(:last-of-type) {
      margin-right: 10px;
    }
</style>