<template>
  <div id="ticket-selection" data-step="2">
    <div id="ticket-wrapper">
      <div class="date-selector row">
        <div class="back-arrow col-third"
             @click="changeDateClick(changeDate.back.val, changeDate.back.return)"
             :class="{disabled: dateBackwardsCycle === 0}">
          <i class="fa fa-chevron-left"></i>
        </div>
        <div class="back col-third"
             @click="changeDateClick(changeDate.back.val, changeDate.back.return)"
             :class="{disabled: dateBackwardsCycle === 0}">
          <span class="text">{{changeDate.back.string}}</span>
        </div>
        <div class="selected col-third">
          {{changeDate.selected.string}}
        </div>
        <div class="forward col-third"  @click="changeDateClick(changeDate.forward.val, changeDate.forward.return)">
          <span class="text">{{changeDate.forward.string}}</span>
        </div>
        <div id="forward-arrow" class="forward-arrow col-third"  @click="changeDateClick(changeDate.forward.val, changeDate.forward.return)">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
      <h2 class="direct-trips-header text-left">
                <span v-if="showReturnTickets === false">
                    Choose Your Trip:
                </span>
        <span v-else>
                    Choose Your Return Trip:
                </span>
      </h2>
      <div class="error-overlay" v-if="ticketError"
           @click="ticketError = false">
        <div class="error-container text-center">
          <p>No availablity for the selected date.</p>
          <p>Showing next available trips.</p>

          <button type="button"
                  class="next-step">
            Ok
          </button>
        </div>
      </div>
      <div class="error-overlay" v-if="callTicketError"
           @click="callTicketError = false">
        <div class="error-container text-center">
          <p>We haven't been able to find any available trips.</p>
          <p>Please call us on <a href="tel:1300730740">1300 730 740</a> <br> to organise your booking</p>

          <button type="button"
                  class="next-step">
            Ok
          </button>
        </div>
      </div>
      <span v-if="ticketLoader === true">
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </span>
      <div id="ticket-selection-forward" class="container" v-if="showReturnTickets === false">
        <div class="ticket-wrapper"
             v-for="ticket in forwardTickets"
             :key="ticket.id">
          <div class="row" id="tickets">
            <div class="col-left" id="ticket-select">
              <div class="container">
                <div class="row ticket-items ">
                  <div  class="ticket-item col-third">
                    <div :id="'ticket-forward-selector-' + ticket.id + '-special'"
                         class="ticket-selector"
                         :class="[ticket.specialSeats === 0 || ticket.specialSeats < numberOfTickets ? 'unavailable' : null,
                                         selectedForwardTicket && selectedForwardTicket.id === ticket.id &&  specialForward === 'true' ? 'selected' : null ]">
                      <input type="radio"
                             name="select-ticket"
                             :id="'ticket-' + ticket.id"
                             :value="ticket.id"
                             :disabled="ticket.specialSeats === 0 || ticket.specialSeats < numberOfTickets">
                      <input type="hidden"
                             class="ticket-price"
                             :value="ticket.specialFare ? ticket.specialFare : null">
                      <p class="fare-name" style="text-align: left;">
                        Sale Fare
                      </p>
                      <div class="ticket-background">
                        <label :for="'ticket-' + ticket.id"
                               @click="selectTicket('Forward', ticket.id, ticket.specialSeats === 0 || ticket.specialSeats < numberOfTickets, true)">
                                                    <span class="ticket-price" v-if="ticket.specialSeats !== 0 && ticket.specialFare !== 0 ">
                                                        ${{ticket.specialFare}}
                                                    </span>
                          <span class="ticket-price" v-else>
                                                        Unavailable
                                                    </span>
                          <span class="ticket-select-text" v-if="(ticket.specialSeats !== 0 || ticket.specialSeats < numberOfTickets) && ticket.specialFare !== 0">
                                                        SELECT
                                                    </span>
                          <div class="overlay"></div>
                        </label>
                        <p class="seats text-center"
                           v-if="ticket.specialSeats < 10 && ticket.specialSeats > 0">
                          {{ticket.specialSeats}} Seats available
                        </p>
                      </div>

                    </div>
                  </div>
                  <div  class="ticket-item col-third">
                    <div :id="'ticket-forward-selector-' + ticket.id"
                         class="ticket-selector"
                         :class="[ticket.status === 'unavailable' ? 'unavailable' : null,
                                             selectedForwardTicket && selectedForwardTicket.id === ticket.id && specialForward !== 'true' ? 'selected' : null]">
                      <input type="radio"
                             name="select-ticket"
                             :id="'ticket-' + ticket.id"
                             :value="ticket.id"
                             :disabled="ticket.status === 'unavailable'">
                      <input type="hidden"
                             class="ticket-price"
                             :value="ticket.price ? ticket.price : null">
                      <p class="fare-name" style="text-align: left;">
                        Regular Fare
                      </p>
                      <div class="ticket-background">
                        <label :for="'ticket-' + ticket.id"
                               @click="selectTicket('Forward', ticket.id, ticket.status === 'unavailable')">
                                                    <span class="ticket-price">
                                                        {{ticket.priceText}}
                                                    </span>
                          <span class="ticket-select-text" v-if="ticket.status !== 'unavailable'">
                                                        SELECT
                                                    </span>
                          <div class="overlay"></div>
                        </label>
                        <p class="seats text-center"
                           v-if="ticket.seats < 10 && ticket.seats > 0">
                          {{ticket.seats}} Seats available
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="times" class="col-right">
              <div class="container">
                <div class="row no-margin justify-center" >
                  <div id="depart" class="col-third text-left">
                    <h3>
                      <span class="float-left" style="position:absolute; left: -50px;">{{ticket.times.serviceOne.serviceName}}</span>
                      Departs
                    </h3>
                    <p class="time"> {{ticket.times.serviceOne.pickUp.time}}</p>
                    <p class="date"> {{ticket.times.serviceOne.pickUp.date}}</p>
                    <p class="stop-name"> {{ticket.times.serviceOne.pickupStop}}</p>
                  </div>
                  <div class="col-third">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                  <div id="arrive" class="col-third text-left">
                    <h3>Arrives</h3>
                    <p class="time"> {{ticket.times.serviceOne.dropOff.time}}</p>
                    <p class="date"> {{ticket.times.serviceOne.dropOff.date}}</p>
                    <p class="stop-name"> {{ticket.times.serviceOne.dropOffStop}}</p>
                  </div>
                </div>
                <div class="row no-margin justify-center" v-if="'serviceTwo' in ticket.times">
                  <p class="change-service-button">
                    Change Service
                  </p>
                </div>
                <div class="row no-margin justify-center" v-if="'serviceTwo' in ticket.times">
                  <div id="depart" class="col-third text-left">
                    <h3>
                      <span class="float-left" style="position:absolute; left: -50px;">{{ticket.times.serviceTwo.serviceName}}</span>
                      Departs
                    </h3>
                    <p class="time"> {{ticket.times.serviceTwo.pickUp.time}}</p>
                    <p class="date"> {{ticket.times.serviceTwo.pickUp.date}}</p>
                    <p class="stop-name"> {{ticket.times.serviceTwo.pickupStop}}</p>
                  </div>
                  <div class="col-third">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                  <div id="arrive" class="col-third text-left">
                    <h3>Arrives</h3>
                    <p class="time"> {{ticket.times.serviceTwo.dropOff.time}}</p>
                    <p class="date"> {{ticket.times.serviceTwo.dropOff.date}}</p>
                    <p class="stop-name"> {{ticket.times.serviceTwo.dropOffStop}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="trip-info" class="row">
            <div class="col-left text-left">
                            <span id="total-time">
                                Total Time: {{ticket.times.totalTime}}
                            </span>
            </div>
            <div class="col-right text-right" >
              <a href="#"
                 @click="toggleTripDetails($event, ticket.id, ticket.name)">Trip Details
                <i v-if="tripDetailsId !== ticket.id" class="fa fa-chevron-right"></i>
                <i v-else class="fa fa-chevron-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="ticket-selection-return" class="container" v-if="returnTickets.length > 0 && showReturnTickets === true">
        <div class="ticket-wrapper"
             v-for="ticket in returnTickets"
             :key="ticket.id">
          <div class="row" id="tickets">
            <div class="col-left" id="ticket-select">
              <div class="container">
                <div class="row ticket-items ">
                  <div  class="ticket-item col-third">
                    <div :id="'ticket-return-selector-' + ticket.id + '-special'"
                         class="ticket-selector"
                         :class="[ticket.specialSeats === 0 || ticket.specialSeats < numberOfTickets ? 'unavailable' : null,
                                         selectedReturnTicket && selectedReturnTicket.id === ticket.id &&  specialReturn === 'true' ? 'selected' : null]"
                    >
                      <input type="radio"
                             name="select-ticket"
                             :id="'ticket-' + ticket.id"
                             :value="ticket.id"
                             :disabled="ticket.specialSeats === 0 || ticket.specialSeats < numberOfTickets">
                      <input type="hidden"
                             class="ticket-price"
                             :value="ticket.specialFare ? ticket.specialFare : null">

                      <p class="fare-name" style="text-align: left;">
                        Sale Fare
                      </p>
                      <div class="ticket-background">
                        <label :for="'ticket-' + ticket.id"
                               @click="selectTicket('Return', ticket.id, ticket.specialSeats === 0 || ticket.specialSeats < numberOfTickets, true)">
                                                    <span class="ticket-price" v-if="ticket.specialSeats !== 0 && ticket.specialFare !== 0 ">
                                                        ${{ticket.specialFare}}
                                                    </span>
                          <span class="ticket-price" v-else>
                                                        Unavailable
                                                    </span>
                          <span class="ticket-select-text" v-if="(ticket.specialSeats !== 0 || ticket.specialSeats < numberOfTickets) && ticket.specialFare !== 0">
                                                        SELECT
                                                    </span>
                          <div class="overlay"></div>
                        </label>
                        <p class="seats text-center"
                           v-if="ticket.specialSeats < 10 && ticket.specialSeats > 0">
                          {{ticket.specialSeats}} Seats available
                        </p>
                      </div>

                    </div>
                  </div>
                  <div  class="ticket-item col-third">
                    <div :id="'ticket-return-selector-' + ticket.id"
                         class="ticket-selector"
                         :class="[ticket.status === 'unavailable' ? 'unavailable' : null,
                                         selectedReturnTicket && selectedReturnTicket.id === ticket.id && specialReturn !== 'true' ? 'selected' : null]">
                      <input type="radio"
                             name="select-ticket"
                             :id="'ticket-' + ticket.id"
                             :value="ticket.id"
                             :disabled="ticket.status === 'unavailable'">
                      <input type="hidden"
                             class="ticket-price"
                             :value="ticket.price ? ticket.price : null">
                      <p class="fare-name" style="text-align: left;">
                        Regular Fare
                      </p>
                      <div class="ticket-background">
                        <label :for="'ticket-' + ticket.id"
                               @click="selectTicket('Return', ticket.id, ticket.status === 'unavailable')">
                                                    <span class="ticket-price">
                                                        {{ticket.priceText}}
                                                    </span>
                          <span class="ticket-select-text" v-if="ticket.status !== 'unavailable'">
                                                        SELECT
                                                    </span>
                          <div class="overlay"></div>
                        </label>
                        <p class="seats text-center"
                           v-if="ticket.seats < 10 && ticket.seats > 0">
                          {{ticket.seats}} Seats available
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="times" class="col-right">
              <div class="container">
                <div class="row no-margin justify-center" >
                  <div id="depart" class="col-third text-left">
                    <h3>
                      <span class="float-left" style="position:absolute; left: -50px;">{{ticket.times.serviceOne.serviceName}}</span>
                      Departs
                    </h3>
                    <p class="time"> {{ticket.times.serviceOne.pickUp.time}}</p>
                    <p class="date"> {{ticket.times.serviceOne.pickUp.date}}</p>
                    <p class="stop-name"> {{ticket.times.serviceOne.pickupStop}}</p>
                  </div>
                  <div class="col-third">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                  <div id="arrive" class="col-third text-left">
                    <h3>Arrives</h3>
                    <p class="time"> {{ticket.times.serviceOne.dropOff.time}}</p>
                    <p class="date"> {{ticket.times.serviceOne.dropOff.date}}</p>
                    <p class="stop-name"> {{ticket.times.serviceOne.dropOffStop}}</p>
                  </div>
                </div>
                <div class="row no-margin justify-center" v-if="'serviceTwo' in ticket.times">
                  <p class="change-service-button">
                    Change Service
                  </p>
                </div>
                <div class="row no-margin justify-center" v-if="'serviceTwo' in ticket.times">
                  <div id="depart" class="col-third text-left">
                    <h3>
                      <span class="float-left" style="position:absolute; left: -50px;">{{ticket.times.serviceTwo.serviceName}}</span>
                      Departs
                    </h3>
                    <p class="time"> {{ticket.times.serviceTwo.pickUp.time}}</p>
                    <p class="date"> {{ticket.times.serviceTwo.pickUp.date}}</p>
                    <p class="stop-name"> {{ticket.times.serviceTwo.pickupStop}}</p>
                  </div>
                  <div class="col-third">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                  <div id="arrive" class="col-third text-left">
                    <h3>Arrives</h3>
                    <p class="time"> {{ticket.times.serviceTwo.dropOff.time}}</p>
                    <p class="date"> {{ticket.times.serviceTwo.dropOff.date}}</p>
                    <p class="stop-name"> {{ticket.times.serviceTwo.dropOffStop}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="trip-info" class="row">
            <div class="col-left text-left">
                            <span id="total-time">
                                Total Time: {{ticket.times.totalTime}}
                            </span>
            </div>
            <div class="col-right text-right">
              <a v-if="showTripDetailsButton" href="#"
                 @click="toggleTripDetails($event, ticket.id, ticket.name)">Trip Details
                <i v-if="tripDetailsId !== ticket.id" class="fa fa-chevron-right"></i>
                <i v-else class="fa fa-chevron-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submission button-wrapper" v-if="showReturnTickets === false">
      <button type="button"
              class="button"
              @click="submitTicket()"
              :disabled="selectedForwardTicket === null">
        Continue
      </button>
    </div>
    <div class="submission button-wrapper" v-if="showReturnTickets === true">
      <button type="button"
              class="button"
              @click="submitTicket()"
              :disabled="selectedReturnTicket === null">
        Continue
      </button>
    </div>
    <TripDetails v-if="tripDetails === true"/>
  </div>
</template>

<script>
import TripDetails from "./TripDetails";
export default {
  name: "TicketSelection",
  components: {
    TripDetails
  },
  props: {
    isPage: Boolean
  },
  data: function() {
    return {
      forwardTickets: [],
      returnTickets: [],
      startLocation: '',
      endLocation: '',
      serviceConnection: '',
      services: [],
      tripDetails: false,
      tripDetailsId: false,
      dates: Object,
      departDateFull: '',
      returnDateFull: '',
      selectedForwardTicket: null,
      selectedReturnTicket: null,
      selectedForwardSpecial: 0,
      selectedReturnSpecial: 0,
      numberOfTickets: 0,
      showReturnTickets: false,
      locationObj: {},
      startLocationName: '',
      endLocationName: '',
      incReturnTrip: '',
      baseFare: 0,
      assistance: null,
      changeDate: {
        back: {},
        selected: {},
        forward: {}
      },
      ticketLoader: false,
      specialForward: 0,
      specialReturn: 0,
      ticketError: false,
      callTicketError: false,
      noDateRetestCount: 0,
      dateBackwardsCycle: 1
    }
  },
  mounted() {
    const main = this;
    window.Bus.$on('setTickets', function(data){
      main.setTickets(data);
    });

    if(this.isPage)
      this.runPageVariables();

    window.Bus.$on('showReturnTicketApp', function(data) {
      main.showReturnTickets = data.showReturnTicket;

      if(data.showReturnTicket === false) {
        main.selectedReturnTicket = null;
        main.createTimeForSelectors(main.departDateFull);
      }
    });
  },
  methods: {
    changeDateClick(date, dateFull)
    {
      console.log('date changed')
      let today = new Date(),
          selectedDate = new Date(date);
      let main = this;

      today.setHours(0);
      if( selectedDate >= today ) {
        this.ticketLoader = true;

        this.returnTickets = [];
        this.forwardTickets = [];

        if (this.showReturnTickets) {
          this.dates.returnDate = date;
          this.returnDateFull = dateFull;
        } else {
          this.dates.departDate = date;
          this.departDateFull = dateFull;
        }

        setTimeout(function () {
          window.Bus.$emit('setTickets', {
            departDate: main.dates.departDate,
            returnDate: main.dates.returnDate,
            startLocation: main.startLocation,
            endLocation: main.endLocation
          });
          main.ticketLoader = false;
        }, 1000);

        this.createTimeForSelectors(dateFull);
      }
    },
    runPageVariables()
    {
      let main = this;
      this.setDataFromQueryString();
      this.getLocationName(main.startLocation, main.endLocation)
      window.Bus.$emit('setInputDates', {departDate: main.departDate, returnDate: main.returnDate});
      window.Bus.$emit('setTickets', {
        departDate: main.dates.departDate,
        returnDate: main.dates.returnDate,
        startLocation: main.startLocation,
        endLocation: main.endLocation
      });
    },
    getLocationName(startLocationCode, endLocationCode)
    {
      window.axios.post('https://cloud.itmprojects.com.au/webservice/KioskWS.asmx/Login',
          {
            username: 'DanielL',
            password: 'Larson99',
            deviceID: '',
            version: ''
          }
      ).then((data) => {
        let allData = JSON.parse(data.request.response).d,
            stops = allData.Stops,
            kioskStop = allData.KioskStop,
            feeTypes = allData.FeeTypes;

        stops.push(kioskStop);

        window.Bus.$emit('setLocations', {
          startLocation: stops.find((element) => element.Code === startLocationCode),
          endLocation: stops.find((element) => element.Code === endLocationCode)
        });

        window.Bus.$emit('setFeeTypes', feeTypes);

      });
    },
    setDataFromQueryString()
    {
      const params = new URLSearchParams(window.location.search);

      this.incReturnTrip = params.get('trip-type');
      this.startLocation = params.get('start-location');
      this.endLocation = params.get('end-location');
      this.departDateFull = params.get('depart-date');
      this.numberOfTickets = params.get('number-of-tickets');

      if( params.has('assistance')) {
        this.assistance = params.getAll('assistance');
      }

      if( params.has('return-date')) {
        this.returnDateFull = params.get('return-date');
      } else {
        this.returnDateFull = '';
      }

      this.createTimeForSelectors(this.departDateFull);
      this.setDateStringsFromPage();
    },
    addOneDayToReturnDate(date){
      var nextDate = new Date(date);
          nextDate.setDate(nextDate.getDate() + 1);
          this.returnDateFull = nextDate.toLocaleString().split(',')[0];
          this.setDateStringsFromPage();
      return nextDate.toISOString().slice(0,10);
    },
    setDateStringsFromPage()
    {

      let departDateArray = this.departDateFull.split('/');

      this.dates.departDate = departDateArray[2] + '-'  + departDateArray[1] + '-' + departDateArray[0];

      if( this.returnDateFull !== '') {
        let returnDateArray = this.returnDateFull.split('/');
        this.dates.returnDate = returnDateArray[2] + '-'  + returnDateArray[1] + '-' + returnDateArray[0];
      } else {
        this.dates.returnDate = '';
      }
    },
    setTickets(data)
    {
      const main = this;

      let departDate = new Date(data.departDate),
          returnDate = new Date(data.returnDate);
      if(data.returnDate != '' && returnDate <= departDate){
        data.returnDate = this.addOneDayToReturnDate(data.departDate);
      }

      let findData = {
        username: 'DanielL',
        password: 'Larson99',
        pickup: data.startLocation,
        dropOff: data.endLocation,
        tickets: "[{Code: 'AD', Quantity: "+this.numberOfTickets+"}]",
        date: data.departDate,
        returnDate: data.returnDate
      };

      window.axios.post(
          'https://cloud.itmprojects.com.au/webservice/KioskWS.asmx/FindShuttle',
          findData
      ).then((data) => {
            let allData = JSON.parse(data.request.response).d;

            if(!allData.Error) {
              let forwardTrip = allData.ForwardRoutes,
                  returnTrip = allData.ReturnRoutes;

              main.serviceConnection = allData.Connections ? forwardTrip[0].Connections : 0;
              main.baseFare = allData.BaseFare;

              forwardTrip.forEach((value, index) => {

                if (value.SubRoutes.length > 1) {
                  main.forwardTickets.push({
                    id: index,
                    name: value.Run,
                    description: value.RunDescription,
                    priceText: value.AtCapacity === false ? '$' + value.Fare : 'Unavailable',
                    price: value.AtCapacity === false ? value.Fare : null,
                    status: value.AtCapacity === false ? 'available' : 'unavailable',
                    seats: value.Capacity === null ? 20 : value.Capacity,
                    times: {
                      serviceOne: {
                        pickupStop: value.SubRoutes[0].PickupStop,
                        dropOffStop: value.SubRoutes[0].DropOffStop,
                        serviceName: value.SubRoutes[0].RunDescription,
                        serviceCode: value.SubRoutes[0].Run,
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[0].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[0].DropOff)
                      },
                      serviceTwo: {
                        pickupStop: value.SubRoutes[1].PickupStop,
                        dropOffStop: value.SubRoutes[1].DropOffStop,
                        serviceName: value.SubRoutes[1].RunDescription,
                        serviceCode: value.SubRoutes[1].Run,
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[1].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[1].DropOff)
                      },
                      totalTime: main.calculateTotalTime(value.Pickup, value.DropOff),
                      totalDropoff: {
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[0].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[1].DropOff)
                      }
                    },
                    specialFare: value.SpecialFare,
                    specialSeats: value.SpecialSeatsRemaining
                  });
                } else {
                  main.forwardTickets.push({
                    id: index,
                    name: value.Run,
                    description: value.RunDescription,
                    priceText: value.AtCapacity === false ? '$' + value.Fare : 'Unavailable',
                    price: value.AtCapacity === false ? value.Fare : null,
                    status: value.AtCapacity === false ? 'available' : 'unavailable',
                    seats: value.Capacity === null ? 20 : value.Capacity,
                    times: {
                      serviceOne: {
                        dropOffStop: value.DropOffStop,
                        pickupStop: value.PickupStop,
                        serviceName: value.SubRoutes[0].RunDescription,
                        serviceCode: value.SubRoutes[0].Run,
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[0].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[0].DropOff)
                      },
                      totalTime: main.calculateTotalTime(value.Pickup, value.DropOff),
                      totalDropoff: {
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[0].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[0].DropOff)
                      }
                    },
                    specialFare: value.SpecialFare,
                    specialSeats: value.SpecialSeatsRemaining
                  });
                }
              });

              returnTrip.forEach((value, index) => {

                if (value.SubRoutes.length > 1) {
                  main.returnTickets.push({
                    id: index,
                    name: value.Run,
                    description: value.RunDescription,
                    priceText: value.AtCapacity === false ? '$' + value.Fare : 'Unavailable',
                    price: value.AtCapacity === false ? value.Fare : null,
                    status: value.AtCapacity === false ? 'available' : 'unavailable',
                    seats: value.Capacity === null ? 20 : value.Capacity,
                    times: {
                      serviceOne: {
                        pickupStop: value.SubRoutes[0].PickupStop,
                        dropOffStop: value.SubRoutes[0].DropOffStop,
                        serviceName: value.SubRoutes[0].RunDescription,
                        serviceCode: value.SubRoutes[0].Run,
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[0].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[0].DropOff)
                      },
                      serviceTwo: {
                        pickupStop: value.SubRoutes[1].PickupStop,
                        dropOffStop: value.SubRoutes[1].DropOffStop,
                        serviceName: value.SubRoutes[1].RunDescription,
                        serviceCode: value.SubRoutes[1].Run,
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[1].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[1].DropOff)
                      },
                      totalTime: main.calculateTotalTime(value.Pickup, value.DropOff),
                      totalDropoff: {
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[0].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[1].DropOff)
                      }
                    },
                    specialFare: value.SpecialFare,
                    specialSeats: value.SpecialSeatsRemaining
                  });
                } else {
                  main.returnTickets.push({
                    id: index,
                    name: value.Run,
                    description: value.RunDescription,
                    priceText: value.AtCapacity === false ? '$' + value.Fare : 'Unavailable',
                    price: value.AtCapacity === false ? value.Fare : null,
                    status: value.AtCapacity === false ? 'available' : 'unavailable',
                    seats: value.Capacity === null ? 20 : value.Capacity,
                    times: {
                      serviceOne: {
                        pickupStop: value.SubRoutes[0].PickupStop,
                        dropOffStop: value.SubRoutes[0].DropOffStop,
                        serviceName: value.SubRoutes[0].RunDescription,
                        serviceCode: value.SubRoutes[0].Run,
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[0].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[0].DropOff)
                      },
                      totalTime: main.calculateTotalTime(value.Pickup, value.DropOff),
                      totalDropoff: {
                        pickUp: main.getDateAndTimeStrings(value.SubRoutes[0].Pickup),
                        dropOff: main.getDateAndTimeStrings(value.SubRoutes[0].DropOff)
                      }
                    },
                    specialFare: value.SpecialFare,
                    specialSeats: value.SpecialSeatsRemaining
                  });
                }

              });
            } else if(this.noDateRetestCount < 10) {
              
              this.noDateRetestCount += 1;

              if(allData.Error == 'No available return service was found.') {
                this.addOneDayToReturnDate(findData.returnDate);
                if(this.selectedForwardTicket){
                  this.ticketError = true;
                  this.changeDateClick(this.changeDate.forward.val, this.changeDate.forward.return)
                }else{
                  this.changeDateClick(this.changeDate.selected.val, this.changeDate.selected.return)
                }
                
              }else{
                this.ticketError = true;
                document.getElementById('forward-arrow').click();  
              }
            } else {
              this.callTicketError = true;
              this.ticketError = false;
            }
          }
      );
    },
    createTimeForSelectors(date)
    {
      const zeroPad = (num, places) => String(num).padStart(places, '0');
      const dayNames = [
            'Sun',
            'Mon',
            'Tue',
            'Wed',
            'Thur',
            'Fri',
            'Sat'
          ],
          monthNames = [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
          ];

      let dateArray = date.split('/'),
          arrayYear = parseInt(dateArray[2]),
          arrayMonth = parseInt(dateArray[1]),
          arrayDay = parseInt(dateArray[0]),
          todayObj = new Date(arrayYear, zeroPad(arrayMonth-1,2), zeroPad(arrayDay, 2)),
          yesterdayObj = new Date(arrayYear,zeroPad(arrayMonth-1,2), ( zeroPad(arrayDay - 1, 2)  ) ),
          tomorrowObj = new Date(arrayYear,zeroPad(arrayMonth-1,2),( zeroPad(arrayDay + 1, 2)  ));

      let todayDayIndex = todayObj.getDay(),
          todayDayName = dayNames[todayDayIndex],
          todayDateNum = todayObj.getDate(),
          todayMonthIndex = todayObj.getMonth(),
          todayMonth = monthNames[todayMonthIndex],
          todayYear = todayObj.getFullYear(),
          todayString = todayDayName + ', ' + zeroPad(todayDateNum, 2) + ' ' + todayMonth + ' ' + todayYear,
          todayVal = todayYear + '-' + (zeroPad(parseInt(todayMonthIndex)+1, 2)) + '-' + todayDateNum,
          todayReturn = todayDateNum + '/' + (parseInt(todayMonthIndex)+1) + '/' + todayYear;

      let yesterdayDayIndex = yesterdayObj.getDay(),
          yesterdayDayName = dayNames[yesterdayDayIndex],
          yesterdayDateNum = yesterdayObj.getDate(),
          yesterdayMonthIndex = yesterdayObj.getMonth(),
          yesterdayMonth = monthNames[yesterdayMonthIndex],
          yesterdayYear = yesterdayObj.getFullYear(),
          yesterdayString = yesterdayDayName + ', ' + zeroPad(yesterdayDateNum, 2) + ' ' + yesterdayMonth + ' ' + yesterdayYear,
          yesterdayVal = yesterdayYear + '-' + (zeroPad(parseInt(yesterdayMonthIndex)+1, 2)) + '-' + yesterdayDateNum,
          yesterdayReturn = yesterdayDateNum + '/' + (parseInt(yesterdayMonthIndex)+1) + '/' + yesterdayYear;

      let tomorrowDayIndex = tomorrowObj.getDay(),
          tomorrowDayName = dayNames[tomorrowDayIndex],
          tomorrowDateNum = tomorrowObj.getDate(),
          tomorrowMonthIndex = tomorrowObj.getMonth(),
          tomorrowMonth = monthNames[tomorrowMonthIndex],
          tomorrowYear = tomorrowObj.getFullYear(),
          tomorrowString = tomorrowDayName + ', ' + zeroPad(tomorrowDateNum, 2) + ' ' + tomorrowMonth + ' ' + tomorrowYear,
          tomorrowVal = tomorrowYear + '-' + (zeroPad(parseInt(tomorrowMonthIndex)+1, 2)) + '-' + tomorrowDateNum,
          tomorrowReturn = tomorrowDateNum + '/' + (parseInt(tomorrowMonthIndex)+1) + '/' + tomorrowYear;

      this.changeDate = {
        back: {
          string: yesterdayString,
          val: yesterdayVal,
          return: yesterdayReturn
        },
        selected: {
          string: todayString,
          val: todayVal,
          return: todayReturn
        },
        forward: {
          string: tomorrowString,
          val: tomorrowVal,
          return: tomorrowReturn
        },
      };

      let todayTest = new Date();

      todayTest.setHours(0);
      todayTest.setMinutes(0);
      todayTest.setSeconds(0);
      todayTest.setMilliseconds(0);
      if( yesterdayObj < todayTest ) {
        this.dateBackwardsCycle = 0;
      } else {
        this.dateBackwardsCycle = 1;
      }
    },
    getDateAndTimeStrings(timecode)
    {
      const zeroPad = (num, places) => String(num).padStart(places, '0');

      var {DateTime} = require('luxon');

      let timestamp = this.getTimeStamp(timecode),
          dateTimeObject = new Date(timestamp),
          dateWithTimeZone = DateTime.fromISO(dateTimeObject.toISOString()).setZone('Australia/Melbourne'),
          dayName = dateWithTimeZone.weekdayShort,
          dayNumber = dateWithTimeZone.day,
          month = dateWithTimeZone.monthShort,
          hourConverted = dateWithTimeZone.hour > 12 ? dateWithTimeZone.hour - 12 : dateWithTimeZone.hour === 0 ? 12 : dateWithTimeZone.hour,
          minuteFull = dateWithTimeZone.minute,
          amPm = dateWithTimeZone.hour >= 12 ? 'PM' : 'AM';

      let timeString = zeroPad(hourConverted, 2) + ':' + zeroPad(minuteFull, 2) + ' ' + amPm,
          dateString = dayName + ', ' + zeroPad(dayNumber, 2) + ' ' + month;

      return {
        time: timeString,
        date: dateString
      };

    },
    getTimeString(timecode)
    {
      const zeroPad = (num, places) => String(num).padStart(places, '0');
      var {DateTime} = require('luxon');
      let timestamp = this.getTimeStamp(timecode),
          dateTimeObject = new Date(timestamp),
          dateWithTimeZone = DateTime.fromISO(dateTimeObject.toISOString()).plus({hours: 1}).setZone('Australia/Melbourne'),
          hourConverted = dateWithTimeZone.hour > 12 ? dateWithTimeZone.hour - 12 : dateWithTimeZone.hour === 0 ? 12 : dateWithTimeZone.hour,
          minuteFull = dateWithTimeZone.minute,
          amPm = dateWithTimeZone.hour >= 12 ? 'PM' : 'AM',
          timeString = zeroPad(hourConverted, 2) + ':' + zeroPad(minuteFull, 2) + ' ' + amPm;
          
      return timeString;
    },
    calculateTotalTime(date1, date2)
    {
      const dateObj1 = new Date(this.getTimeStamp(date1)),
          dateObj2 = new Date(this.getTimeStamp(date2));

      let diffInSeconds = Math.abs(dateObj2 - dateObj1) / 1000;

      const days = Math.floor(diffInSeconds / 86400);
      diffInSeconds -= days * 86400;

      const hours = Math.floor(diffInSeconds / 3600) % 24;
      diffInSeconds -= hours * 3600;

      // calculate minutes
      const minutes = Math.floor(diffInSeconds / 60) % 60;
      diffInSeconds -= minutes * 60;

      let difference = '';
      if (days > 0) {
        difference += `${days}d `;
      }

      if( hours > 0 )
        difference += `${hours}h `;

      difference += `${minutes}m`;

      return difference;
    },
    getTimeStamp(itemDate)
    {
      return parseInt(itemDate.replace(/\/|Date|\)|\(/g, ''));
    },
    toggleTripDetails(e, ticketId, serviceName)
    {
      e.preventDefault();
      if( this.tripDetailsId === ticketId) {
        e.target.scrollIntoView({behavior: "smooth"});
        this.tripDetailsId = null;
        this.tripDetails = !this.tripDetails;
      } else {
        this.tripDetailsId = ticketId;
        this.tripDetails = true;
        this.getTripDetails(ticketId, serviceName);
      }
    },
    selectTicket(type, id, unavailable = false, special = false)
    {
      if(unavailable === false) {
        this.tripDetails = false;

        if (special === true) {
          this['selected' + type + 'Special'] = this[type.toLowerCase() + 'Tickets'][id].specialFare;
          this['special' + type] = 'true';
        } else {
          this['selected' + type + 'Special'] = 0;
          this['special' + type] = 0;
        }

        this['selected' + type + 'Ticket'] = this[type.toLowerCase() + 'Tickets'][id];
      }
    },
    setTicketDates(dates)
    {
      this.dates = dates;
    },
    submitTicket()
    {
      let main = this;

      if( this.selectedForwardSpecial !== 0)
      {
        this.baseFare = this.selectedForwardSpecial;
      } else {
        this.baseFare = this.selectedForwardTicket.price;
      }

      if( this.selectedReturnSpecial !== 0 )
      {
        this.baseFare += this.selectedReturnSpecial;
      } else if(this.returnTickets.length > 0 && this.selectedReturnTicket !== null) {
        this.baseFare += this.selectedReturnTicket.price;
      }

      if(this.returnTickets.length > 0 && this.selectedForwardTicket !== null) {
        this.showReturnTickets = true;
        window.Bus.$emit('showReturnTicketApp', {showReturnTicket: true});
        this.createTimeForSelectors(this.returnDateFull);
      }

      if(this.returnTickets.length === 0 && this.selectedForwardTicket !== null) {
        window.Bus.$emit('ticketSelectionComplete',
            {
              forwardTicket: this.selectedForwardTicket,
              returnTicket: null,
              specialReturn: false,
              specialForward: main.specialForward,
              baseFare : main.baseFare,
              number: main.numberOfTickets
            });
        window.Bus.$emit('changeStep', 3);
      }

      if(this.selectedReturnTicket !== null) {
        window.Bus.$emit('ticketSelectionComplete',
            {forwardTicket: this.selectedForwardTicket,
              returnTicket: this.selectedReturnTicket,
              specialReturn: main.specialReturn,
              specialForward: main.specialForward,
              baseFare : main.baseFare,
              number: main.numberOfTickets});
        window.Bus.$emit('changeStep', 3);
      }

      window.Bus.$emit('numberOfTickets', {
        numberOfTickets: main.numberOfTickets
      });
      window.Bus.$emit('locations', {
        pickup: main.startLocation,
        dropoff: main.endLocation
      });

      if( this.assistance !== null ) {
        window.Bus.$emit('assistance', {
          assistance: main.assistance
        });
      }

      window.Bus.$emit('setTicketDates', {
        forwardDate: main.dates.departDate,
        returnDate: main.dates.returnDate
      });


      window.Bus.$emit('setDateStrings', {
        startDates: main.selectedForwardTicket.times,
        endDates: main.selectedReturnTicket ? main.selectedReturnTicket.times : null,
        incReturnTrip: main.incReturnTrip
      });

      window.Bus.$emit('setServiceName', {service: main.selectedForwardTicket});
    },
    getChosenRoute(serviceName,routes){
      let chosenRoute = []
      routes.forEach((route) => {
        if(route.Run == serviceName){
          chosenRoute = route;
          return;
        }
      });
      return chosenRoute;
    },
    getTripDetails(ticketId, serviceName)
    {
      let url = 'https://cloud.itmprojects.com.au/webservice/ShuttlesWS.asmx/GetTimetables';
      window.serviceStops = {};
      let serviceNames = serviceName.replace(" ","").split(',');

      if( this.serviceConnection) {
        let start = this.showReturnTickets ? this.endLocation : this.startLocation,
            connection = this.serviceConnection,
            end = this.showReturnTickets ? this.startLocation : this.endLocation;
            
        
        window.axios.post(url,
            {
              username: 'DanielL',
              password: 'Larson99',
              group: '',
              from: start,
              to: connection
            }
        ).then((data) => {
          const response = JSON.parse(data.request.response).d,
              main = this;  

          let chosenRoute = this.getChosenRoute(serviceNames[0],response.Routes),
              serviceName = chosenRoute.Description,
              stops = {
                [serviceName] : {}
              };

          chosenRoute.RouteDetails.forEach((route, index) => {
            
            let name = route.StopDescription,
                time = main.getTimeString(route.Time);

            stops[serviceName]['stop' + index] = {
              name: name,
              time: time
            };
          });

          Object.assign(window.serviceStops, stops);

          window.axios.post(url,
              {
                username: 'DanielL',
                password: 'Larson99',
                group: '',
                from: connection,
                to: end
              }
          ).then((data) => {
            const response = JSON.parse(data.request.response).d,
                main = this;

            let chosenRoute = this.getChosenRoute(serviceNames[1],response.Routes),
                serviceName = chosenRoute.Description,
                stops = {
                  [serviceName] : {}
                };

            chosenRoute.RouteDetails.forEach((route, index) => {
              let name = route.StopDescription,
                  time = main.getTimeString(route.Time);

              stops[serviceName]['stop' + index] = {
                name: name,
                time: time
              };
            });
            Object.assign(window.serviceStops, stops);
            window.Bus.$emit('showTripDetails',window.serviceStops);
          });
        });
      } else {
        let start = this.showReturnTickets ? this.endLocation : this.startLocation,
            end = this.showReturnTickets ? this.startLocation : this.endLocation;

        window.axios.post(url,
            {
              username: 'DanielL',
              password: 'Larson99',
              group: '',
              from: start,
              to: end
            }
        ).then((data) => {
          const response = JSON.parse(data.request.response).d,
              main = this;

          let chosenRoute = this.getChosenRoute(serviceNames[0],response.Routes),
              serviceName = chosenRoute.Description,
              stops = {
                [serviceName] : {}
              };
          console.log(chosenRoute,serviceName,response.Routes)
          chosenRoute.RouteDetails.forEach((route, index) => {
            let name = route.StopDescription,
                time = main.getTimeString(route.Time);

            stops[serviceName]['stop' + index] = {
              name: name,
              time: time
            };
          });
          Object.assign(window.serviceStops, stops);
          window.Bus.$emit('showTripDetails',window.serviceStops);
        });
      }
    }
  }
}
</script>

<style scoped>
.btn-primary {
  background: #ff841c;
  padding: 8px 12px;
  color: #fff;
  border-radius: 6px;
}
h3, p {
  margin-bottom: 2px;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #000;
  font-weight: normal;
  font-size: 16px;
}

#ticket-wrapper > .container .ticket-wrapper {
  border: 1px solid #ccc;
  padding: 40px 30px 20px;
  background: #fafafa;
  position: relative;
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  #ticket-wrapper > .container .ticket-wrapper {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fafafa;
  }

  #app .container #times .container .row .col-third {
    width: calc( 100% / 3 - 20px );
    margin-left: 15px;
    margin-right: 15px;
  }

  #app .container #trip-info.row {
    position: relative;
    padding-left: 0;
  }

  #app .container #trip-info.row .col-left,
  #app .container #trip-info.row .col-right {
    width: 50%;
  }

  .ticket-selector .ticket-background label .overlay {
    display: none;
  }

  #trip-info a {
    border-radius: 6px!important;
    top: 0px;
  }

  #ticket-select {
    margin-top: 0!important;
  }

  .stop-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  #depart {
    margin-left: 0!important;
  }

  #arrive {
    margin-right: 0!important;
  }
}

.time {
  font-size: 20px;
  font-weight: bold;
  color: crimson;
  margin-top: 5px;
}

.stop-name {
  font-size: 12px;
  line-height: 1;
  color: #000;
  margin-top: 5px;
}

.date {
  font-size: 12px;
  color: #000;
  line-height: 1;
}

#times i {
  font-size: 30px;
  color: crimson;
  margin-top: 3px;
}

.direct-trips-header {
  font-size: 18px;
  font-weight: normal;
}

[name="select-ticket"] {
  display: none;
}

.ticket-selector .ticket-background {
  position: relative;
  overflow: hidden;
}

.ticket-item:first-of-type .ticket-background label {
  background: crimson;
  overflow: hidden;
}

.ticket-item:nth-of-type(2) .ticket-background label {
  background: #0b60ba;
  overflow: hidden;
}

.ticket-item:last-of-type .ticket-background label {
  background: #41af33;
  overflow: hidden;
}

.ticket-selector.unavailable .ticket-background label {
  opacity: 0.5;
  cursor: not-allowed;
  overflow: hidden;
}

.ticket-selector:not(.unavailable) .ticket-background label .overlay {
  content: " ";
  display: block;
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  right: 100%;
  background: rgba(0,0,0,0.25);
  transition: all linear 0.35s;
  z-index: 100;
}

.ticket-selector .ticket-background label span {
  position: relative;
  z-index: 10;
}

.ticket-selector:not(.unavailable) .ticket-background label:hover .overlay,
.ticket-selector:not(.unavailable).selected .ticket-background .overlay {
  left: 0;
}

.ticket-background label {
  cursor: pointer;
  display: block;
  color: #fff;
  padding: 25px 0 32px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 6px;
  position: relative;
}

#services {
  margin: 0;
  list-style-type: none;
  text-align: left;
  display: inline-block;
  padding-left: 0;
}

#services li {
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 5px 0 5px 10px;
  font-size: 12px;
  background: #0b60ba;
  border-radius: 4px;
}

#services.multiple li:first-of-type {
  border-radius: 4px 0 0 4px;
  padding-right: 5px;
}

#services.multiple li:last-of-type {
  border-radius: 0 4px 4px 0;
}

#services.multiple li:last-of-type {
  margin-left: 18px;
  padding-right: 10px;
  padding-left: 5px;
}
#services.multiple li:last-of-type:before {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-right: 0;
  top: 0;
  right: 100%;
  border-top-color: #0b60ba;
  border-bottom-color: #0b60ba;
}

#services.multiple li:not(:last-of-type):after {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-right: 0;
  top: 0;
  left: 100%;
  border-left-color: #0b60ba;
}

#trip-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  padding-left: 8px;
}

#trip-info a {
  background: #b3b3b3;
  color: #fff;
  padding: 7px;
  font-size: 12px;
  border-radius: 6px 0 0 0;
  position: relative;
  top: 1px;
  text-decoration: none;
}

.seats {
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

.ticket-name {
  position: absolute;
  top: 0;
  left: 8px;
}

@media only screen and (min-width: 768px) {
  #tickets {
    flex-wrap: nowrap!important;
  }

  #times {
    width: 650px!important;
  }

  #times .col-third {
    margin: 0!important;
    width: calc( 100% / 3 )!important;
  }

  #ticket-select {
    width: 100%!important;
  }

  #times .text-left {
    padding-left: 10px;
    box-sizing: border-box;
  }

  .ticket-item:first-of-type {
    margin-top: 0!important;
  }
}

.ticket-select-text {
  background: #ff841c;
  color: #fff;
  position: absolute!important;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
}

#app .button-wrapper button {
  margin-top: 0;
}

.date-selector > div.forward-arrow,
.date-selector > div.back-arrow {
  max-width: 40px;
}

.date-selector > div.back-arrow.disabled,
.date-selector > div.back.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.date-selector > div.back-arrow.disabled:hover,
.date-selector > div.back.disabled:hover {
  background: #ececec;
}

.date-selector > div {
  background: #ececec;
  color: #000;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
  width: calc(33.33333% - 27px)!important;
  margin: 0!important;
  border-radius: 0;
}

.date-selector > div.selected {
  background: #b3b3b3;
  color: #fff;
  cursor: default;
}

.date-selector .back-arrow {
  border-right: 1px solid #ccc;
}

.date-selector .forward-arrow {
  border-left: 1px solid #ccc;
}
.date-selector .back-arrow:hover,
.date-selector .forward-arrow:hover {
  background: #ccc;
}

@media only screen and (max-width: 991px) and (min-width: 769px)
{
  #app .ticket-item {
    width: calc( 50% - 30px )!important;
  }
}

@media only screen and (max-width: 768px ) {

  .date-selector > div:not(.selected) {
    display: none;
  }
  .date-selector > div.selected {
    width: auto!important;
    padding-left: 15px;
    padding-right: 15px;
  }
  #app .container .row.date-selector{
    text-align: center;
    justify-content: center;
    margin-top: 20px!important;
  }
  .date-selector > div .text {
    display: none;
  }
  .date-selector > div:not(.selected) {
    padding-left: 20px;
    padding-right: 20px;
    width: auto!important;
  }
  .date-selector .back-arrow,
  .date-selector .forward-arrow {
    display:block!important;
    border-width: 0;
    padding-left: 13px!important;
  }
}

.block {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: crimson;
}

.block:nth-child(4n+1) { animation: wave 2s ease .0s infinite; }
.block:nth-child(4n+2) { animation: wave 2s ease .2s infinite; }
.block:nth-child(4n+3) { animation: wave 2s ease .4s infinite; }
.block:nth-child(4n+4) { animation: wave 2s ease .6s infinite; margin-right: 0; }

@keyframes wave {
  0%   { top: 0;     opacity: 1; }
  50%  { top: 15px;  opacity: .2; }
  100% { top: 0;     opacity: 1; }
}

@media only screen and (max-width: 767px) {

  .stop-wrapper .col-left {
    width: 150px!important;
    padding-left: 0;
  }
}

.change-service-button {
  max-width: 180px;
  padding: 5px 0;
  border: 1px solid crimson;
  background: transparent;
  height: auto!important;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {

  .float-left {
    position: static!important;
    display: block;
  }

  .change-service-button {
    margin-top: 35px!important;
    margin-bottom: -15px!important;
  }

  #times #arrive {
    margin-top: 58px;
  }
}

.fare-name {
  font-weight: bold;
}

.error-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0,0,0,0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-overlay .error-container {
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 20px 60px;
}

.error-overlay button {
  background: crimson;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
}
</style>