<template>
    <div id="trip-details">
        <h2 class="timetable-header">
            Timetable
        </h2>
        <div class="stop-wrapper container">
            <span v-if="loader === true">
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </span>
            <div class="row"
                 v-for="(service, index) in services"
                :key="index"
            v-else>
                <div class="col-left">
                    <div class="icon-wrapper">
                        <i class="fa fa-bus"></i>
                    </div>
                    <span class="service-name">{{index}}</span>
                </div>
                <div class="col-right">
                    <ul class="stop-list">
                        <li class="stop-item"
                            v-for="stop in service"
                            :key="stop.name">
                            <div class="stop-time-wrapper">
                                <span class="time">
                                    {{stop.time}}
                                </span>
                                <span class="bullet"></span>
                            </div>
                            <div class="name-wrapper">
                                <span class="name">
                                    {{stop.name}}
                                </span>
                            </div>
                        </li>
                        <li v-if="Object.keys(services).findIndex((ele) => ele === index) < Object.keys(services).length - 1"
                                class="change-service text-center">
                            <p class="change-service-button">
                                Change Service
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TripDetails",
        data: function() {
            return {
                services: [],
                loader: true
            }
        },
        props: {
            // services: Object
        },
        mounted() {
            window.Bus.$on('showTripDetails', (stops) => {
                document.querySelector('.submission').scrollIntoView({behavior: "smooth"});
                let main = this;
                main.loader = true;
                setTimeout( function() {
                    main.services = [];
                    main.services = stops;
                    main.loader = false;
                }, 2000);
            });
        }
    }
</script>


<style scoped>
    #app .timetable-header {
        font-size: 24px;
        font-weight: normal;
        margin-top: 0;
        padding: 10px;
        background: crimson;
        color: #fff;
    }

    #trip-details {
        border: 1px solid #ccc;
        border-top-width: 0;
    }

    .stop-wrapper {
        padding: 0px 40px 20px;
    }
    .stop-wrapper .col-left {
        width: 280px!important;
        font-size: 16px;
        font-weight: bold;
        padding-left: 140px;
    }
    .stop-list {
        padding-left: 0;
        margin-top: 0;
        list-style-type: none;
        text-align: left
    }

    .stop-list li {
        font-size: 12px;
        font-weight: bold;
        color: crimson;
        position: relative;
        height: 37px;
    }

    .stop-list li .stop-time-wrapper {
        position: relative;
        display: inline-block;
        width: 70px;
    }

    .stop-list li .name-wrapper {
        font-weight: normal;
    }

    .stop-list .bullet {
        position: absolute;
        top: 3px;
        z-index: 1;
        right: -3px;
        width: 8px;
        height: 8px;
        border: 1px solid #777;
        border-radius: 100%;
        background-color: #fff;
    }

    .stop-list li .name-wrapper {
        padding-left: 14px;
        padding-bottom: 10px;
        border-left: 1px solid crimson;
        margin-left: -2px;
        height: 37px;
        display: inline-block;
        position: absolute;
        top: 3px;
    }

    .stop-list li:last-of-type .name-wrapper {
        border-left-color: transparent;
    }

    .stop-list li .name-wrapper .name {
        position: relative;
        bottom: 3px;
    }

    .stop-list li .name-wrapper .button-sm {
        padding: 5px;
    }

    .stop-wrapper .row:last-of-type li.stop-item:last-of-type,
    .stop-wrapper .row:last-of-type li.stop-item:last-of-type .name-wrapper {
        height: auto;
    }

    .change-service {
        max-width: 250px;
        padding: 10px 0;
        border: 1px solid crimson;
        background: #fff;
        height: auto!important;
    }

    .change-service p {
        margin: 0;
        font-weight: bold;
        font-size: 12px;
    }

    .icon-wrapper {
        margin-bottom: 3px;
    }

    .icon-wrapper i {
        font-size: 24px;
    }

    .service-name {
        font-size: 14px;
    }

    .stop-wrapper .row:last-of-type,
    .stop-wrapper .row:last-of-type .stop-list {
        margin-bottom: 0!important;
    }

    .block {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 10px 10px 0;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        background: crimson;
    }

    .block:nth-child(4n+1) { animation: wave 2s ease .0s infinite; }
    .block:nth-child(4n+2) { animation: wave 2s ease .2s infinite; }
    .block:nth-child(4n+3) { animation: wave 2s ease .4s infinite; }
    .block:nth-child(4n+4) { animation: wave 2s ease .6s infinite; margin-right: 0; }

    @keyframes wave {
        0%   { top: 0;     opacity: 1; }
        50%  { top: 15px;  opacity: .2; }
        100% { top: 0;     opacity: 1; }
    }

    @media only screen and (max-width: 767px) {

        .stop-wrapper .col-left {
            width: 150px!important;
            padding-left: 0;
        }
    }
</style>