<template>
  <div id="app">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <div class="container">
      <StartBooking v-if="!isPage" />
      <transition name="fade">
        <div class="booking-wrapper" v-if="showBooking || isPage" @click.self="closeBooking">
          <div class="booking-content-container" @click.self="closeBooking">
            <div class="booking-inner">
              <BookingNav :steps="steps" :isPage="isPage" :showReturnTicket="showReturnTicket" />
              <BookingBody :steps="steps" :isPage="isPage"/>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import BookingBody from './components/BookingBody/BookingBody';
import BookingNav from './components/Navigation/Nav';
import StartBooking from './components/StartBooking/StartBooking';

export default {
  name: 'App',
  components: {
    BookingBody,
    BookingNav,
    StartBooking
  },
  data: function() {
    return  {
      showBooking: false,
      steps: {
        currentActive: 1
      },
      showReturnTicket: false,
      isPage : false
    }
  },
  mounted() {
    var main = this;
    window.Bus.$on('changeStep', this.changeStep);
    window.Bus.$on('showBooking', this.openBooking);
    window.Bus.$on('showReturnTicketApp', function(data) {
      main.showReturnTicket = data.showReturnTicket;
    });

    if( window.location.search.includes('trip-type') ) {
      this.isPage = true;
      this.steps.currentActive = 2;
    }
  },
  methods: {
    openBooking(showBooking)
    {
      this.showBooking = showBooking;
    },
    changeStep(newStep) {
      document.getElementById('app').scrollIntoView();
      if(newStep < 1) return;

      this.steps.currentActive = localStorage.activeStep = newStep;
    },
    closeBooking(e)
    {
      e.stopPropagation();
      window.Bus.$emit('showBooking', false);
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.col-right .vdp-datepicker__calendar {
  right: 0;
}
#app .overview-header {
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  background: #464646;
  color: #fff;
}

.single-section {
  border: 1px solid #ccc;
  background: #fafafa;
  margin-bottom: 20px;
}

.single-section .container {
  padding: 20px 40px;
}

  #app .container {
    max-width: 1170px;
    position: relative;
  }

#app .booking-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  }

body > .select2-container.select2-container--open {
  z-index: 99999999999;
}

#app .booking-content-container {
    max-width: 1200px;
  width: 100%;
    margin: 0 auto;
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.booking-inner {
  width: 100%;
}

#app.fade-enter-active, .fade-leave-active  {
    transition: opacity .6s ease;
  }

#app.fade-enter, .fade-leave-to
  {
    opacity: 0;
  }

#app.expand-enter-active, .expand-leave-active {
    transition: all linear 0.6s;
  }

#app.expand-enter, .expand-leave-to
  {
    height: 0;
    overflow: auto;
  }
#app .select2-selection {
  text-align: left;
  padding: 5px;
  height: auto
}

#app .select2-selection--multiple {
    padding-right: 30px !important;
  padding-top: 0;
  padding-bottom: 0;
  }

#app .select2-selection--multiple .select2-search__field {
  border: none;
  }

#app .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search {
  height: 40px;
}

#app .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 10px;
}

#app .select2-selection--multiple:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

#app .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

#app .button-wrapper {

  }

#app .button-wrapper button {
  text-transform: uppercase;
  font-size: 13px;
    padding: 15px 20px;
    color: #fff;
    background: crimson;
    cursor: pointer;
    transition: all linear 0.35s;
    font-weight: bold;
    border-color: crimson;
    border-radius: 6px;
    border-style: solid;
  }

#app .button-wrapper button:hover {
    background: #f04a4a;
    border-color: #f04a4a;
  }

#app .button-wrapper button:active,
#app .button-wrapper button:focus {
    border-color: #f04a4a;
    outline: none;
  }

#app .input-error {
  color: red;
  text-align: left;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 2px;
}

#app .button-wrapper button[disabled] {
    cursor: not-allowed;
    background: #ccc;
    border-color: #ccc;
    opacity: 0.75;
  }

#app .text-left {
  text-align: left;
}

#app .text-center {
  text-align: center;
}

#app .text-right {
  text-align: right;
}

#app input {
  min-height: 40px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  padding: 10px;
  }

#app input:focus,
#app .select2-selection:focus,
body .select2-search--dropdown .select2-search__field:focus,
#app .select2-container--open .select2-selection--multiple{
  outline: none!important;
  border-color: crimson;
}

#app .select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-size: 14px;
}

#app .container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
  }

#app .container .row:first-of-type {
    margin-top: 0;
  }

#app .container .row.no-margin {
  margin: 0;
}

#app .container .row.justify-center {
  justify-content: center;
  align-items: center;
}

#app .container .row .col-left,
#app .container .row .col-right {
    width: calc( 50% - 20px );
  position: relative;
  }

#app .container .row .col-left {
  margin-right: 20px;
}
#app .container .row .col-right {
  margin-left: 20px;
}

#app .container .row .col-full {
    width: 100%;
  position: relative;
  }

#app .container .row .col-third {
    width: calc( 100% / 3 - 30px );
  margin-left: 15px;
  margin-right: 15px;
  }

#app .toggle-switch,
#app .toggle-switch li {
    width: 100%!important;
  max-height: 40px;
  }

#app input[disabled] {
  background: #e2e2e2;
  cursor: not-allowed;
}

#app .toggle-switch li input {
  margin: 0;
  cursor: pointer;
}

#app .toggle-switch li label {
  box-sizing: border-box;
  border-color: #aaa!important;
  cursor: pointer;
  padding: 5px!important;
  line-height: 1.2!important;
}

#app .toggle-switch li label.selected {
  border-color: crimson!important;
}

  #app .vue-numeric-input {
    width: 100%!important;
  }

  #app .vue-numeric-input .btn {
    border-radius: 0;
    border-style: solid;
    top: 0;
    bottom: 0;
    background-color: transparent;
    min-width: 40px;
  }
#app .vue-numeric-input .btn-increment {
  right: 0;
}

#app .vue-numeric-input .btn-decrement {
  left: 0;
}

  #app .vue-numeric-input .btn-icon {
    background: crimson;
    cursor: pointer;
  }

#app .vue-numeric-input .btn-icon:before,
#app .vue-numeric-input .btn-icon:after {
  background-color: #fff;
}

  #app .top-label {
    position: absolute;
    width: 100%;
    left: 0;
     right: 0;
    top: -20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }

  #app .vdp-datepicker__clear-button {
    display: none;
  }

  #app .ticket-person-item {
    margin-bottom: 15px;
  }

  #app .ticket-person-item .vue-numeric-input {
    width: 200px!important;
    margin-left: 10px;
  }

  @media only screen and (max-width: 767px) {
    #app .container .row {
      margin: 0!important;
    }
    #app .container .row .col-left,
    #app .container .row .col-right,
    #app .button-wrapper,
    #app .container .row .col-third {
      width: 100%;
      position: relative;
      margin: 30px 0 0;
    }

    #app .button-wrapper {
      margin-bottom: 20px;
    }

    #times {
      margin-top: 0!important;
    }

    #app .booking-nav-wrapper .button-wrapper {
      margin-bottom: 0;
    }

    #app .ticket-person-item .vue-numeric-input {
      width: 100%!important;
      margin-left: 0;
    }

    .single-section .container {
      padding: 20px!important;
    }

    .booking-nav-wrapper {
      border-bottom: 1px solid #ccc;
    }
  }
</style>
