<template>
  <div class="charter">
    <form @submit.prevent="submit" v-if="!success">
      <fieldset>
        <legend>Booking Details</legend>
        <div class="grid">
          <div>
            <input type="text" placeholder="Company" v-model="form.company">
          </div>
          <div>
            <input type="text" placeholder="Contact Name*" v-model="form.name">
            <p v-if="inputErrors.name" class="input-error">{{inputErrors.name}}</p>
          </div>
        </div>
        <div class="grid">
          <div>
            <input type="text" placeholder="Email*" v-model="form.email">
            <p v-if="inputErrors.email" class="input-error">{{inputErrors.email}}</p>
          </div>
          <div>
            <input type="text" placeholder="Phone*" v-model="form.phone">
            <p v-if="inputErrors.phone" class="input-error">{{inputErrors.phone}}</p>
          </div>
        </div>
        <div class="grid full-span">
          <vue-google-autocomplete
              id="map"
              classname="form-control"
              placeholder="Address"
              v-on:placechanged="findAddress">
          </vue-google-autocomplete>
          <p v-if="inputErrors.address" class="input-error">{{inputErrors.address}}</p>
        </div>
        <div class="grid">
          <div>
            <input type="number" placeholder="Number of Passengers" v-model="form.passengers" class="clear-right">
            <p v-if="inputErrors.passengers" class="input-error">{{inputErrors.passengers}}</p>
          </div>
          <div>
            <input type="text" placeholder="Type of Event" v-model="form.type" class="clear-right">
            <p v-if="inputErrors.type" class="input-error">{{inputErrors.type}}</p>
          </div>
        </div>
      </fieldset>

      <fieldset class="departure-details">
        <legend>Departure Details</legend>

        <span style="font-weight: bold; color: #dc143c; padding-left: 10px;">
          Departure Time
        </span>
        <div class="grid small">
          <Datepicker name="departure-date"
                      id="departure-date"
                      placeholder="dd/mm/yyyy"
                      ref="returnDate"
                      v-model="form.departure.date"
                      required
                      format="dd/MM/yyyy"
                      :disabled-dates="disabledDepartureDates"/>
          <select v-model="form.departure.hour">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <select v-model="form.departure.minute">
            <option value="00" selected>00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
          </select>
          <select v-model="form.departure.type">
            <option value="am" selected>AM</option>
            <option value="pm">PM</option>
          </select>
        </div>
        <div class="grid">
          <vue-google-autocomplete
              id="departure-pickup"
              classname="form-control"
              placeholder="Pickup Point"
              v-on:placechanged="findDeparturePickup"
              :types="['geocode', 'establishment']"
              :country="'au'" />
          <p v-if="inputErrors.departure.pickup" class="input-error">{{inputErrors.departure.pickup}}</p>
        </div>
        <div class="grid">
          <vue-google-autocomplete
              id="departure-destination"
              classname="form-control"
              placeholder="Destination"
              v-on:placechanged="findDepartureDestination"
              :types="['address', 'establishment']"
              :country="'au'" />
          <p v-if="inputErrors.departure.destination" class="input-error">{{inputErrors.departure.destination}}</p>
        </div>
      </fieldset>

      <fieldset class="return-details">
        <legend>Return Details</legend>

        <span style="font-weight: bold; color: #dc143c; padding-left: 10px;">
          Departure Time
        </span>
        <div class="grid small">
          <Datepicker name="return-date"
                      id="return-date"
                      placeholder="dd/mm/yyyy"
                      ref="returnDate"
                      v-model="form.return.date"
                      required
                      format="dd/MM/yyyy"
                      :disabled-dates="disabledDepartureDates"/>
          <select v-model="form.return.hour">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <select v-model="form.return.minute">
            <option value="00" selected>00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
          </select>
          <select v-model="form.return.type">
            <option value="am" selected>AM</option>
            <option value="pm">PM</option>
          </select>
        </div>
        <div class="grid">
          <vue-google-autocomplete
              id="return-pickup"
              classname="form-control"
              placeholder="Pickup Point"
              v-on:placechanged="findReturnPickup"
              :types="['address', 'establishment']"
              :country="'au'" />
        </div>
        <div class="grid">
          <vue-google-autocomplete
              id="return-destination"
              classname="form-control"
              placeholder="Destination"
              v-on:placechanged="findReturnDestination"
              :types="['address', 'establishment']"
              :country="'au'" />
        </div>
      </fieldset>

      <fieldset class="return-details">
        <legend>T&C Agreement</legend>
        <label for="tc">
          <input type="checkbox" id="tc" v-model="form.tandc">
          I understand that the information provided above is for the preparation of
          a quote and does not constitute a booking.
        </label>
        <p v-if="inputErrors.tandc" class="input-error">{{inputErrors.tandc}}</p>
      </fieldset>

      <vue-recaptcha sitekey="6LcMaPsZAAAAAG-6eMpcndiQz-GAHwr2ptO4AWqS"
                     :loadRecaptchaScript="true" class="float-right"
                      @verify="verifyRecaptcha"
                      @expired="expireRecaptcha">
      </vue-recaptcha>
        <button type="submit">Submit</button>
      <p v-if="submissionError">{{submissionError}}</p>
    </form>
    <div v-if="success">
      <h2 style="text-align: center">Success</h2>
      <div class="tick-wrapper" style="text-align: center">
        <i class="fa fa-check-circle"></i>
      </div>
      <p style="text-align: center; margin-top: 10px;">Your Charter quote number is <span style="font-weight: bold;">{{bookingNumber}}</span>.</p>
      <p style="text-align: center; margin-top: 5px;">Your request has been received and we will endeavour to respond to your request with 48 hours.</p>
      <p style="text-align: center; margin-top: 5px;">If the matter is urgent please phone us on <a href="tel:1300730740">1300-730-740</a>.</p>
    </div>
  </div>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import VueGoogleAutocomplete from 'vue-google-autocomplete';
import Datepicker from 'vuejs-datepicker';

export default {
  components: {
    Datepicker,
    VueRecaptcha,
    VueGoogleAutocomplete
  },
  data() {
    return {
      form: {
        company: '',
        name: '',
        email: '',
        address: '',
        suburb: '',
        postcode: '',
        state: '',
        country: '',
        phone: '',
        passengers: '',
        type: '',
        departure: {
          date: '',
          hour: '1',
          minute: '00',
          type: 'am',
          pickup: '',
          destination: ''
        },
        return: {
          date: '',
          hour: '1',
          minute: '00',
          type: 'am',
          pickup: '',
          destination: ''
        },
        tandc: null
      },
      inputErrors: {
        name: false,
        email: false,
        phone: false,
        address: false,
        suburb: false,
        state: false,
        postcode: false,
        country: false,
        passengers: false,
        event: false,
        departure: {
          date: false,
          pickup: false,
          destination: false
        },
        tandc: false
      },
      disabledDepartureDates: {
        to: this.disabledDateGenerator()
      },
      submissionError: false,
      success: false,
      error: false,
      captcha: false,
      bookingNumber: 0
    }
  },
  methods: {
    submit()
    {
      if( !this.validate() && this.captcha !== false && this.tandc !== false  ) {

          let departTime = this.form.departure.hour === 'am' ? this.form.departure.hour + ':' +  this.form.departure.minute+ ':00' : (parseInt(this.form.departure.hour) + 12) + ':' +  this.form.departure.minute+ ':00';
          let returnTime = this.form.return.hour === 'am' ? this.form.return.hour + ':' +  this.form.return.minute+ ':00' : (parseInt(this.form.return.hour) + 12) + ':' +  this.form.return.minute+ ':00';
          let departDateString = `${this.form.departure.date.getFullYear()}-${this.form.departure.date.getMonth() + 1}-${this.form.departure.date.getDate()}`;
          let returnDateString = this.form.return.date ? `${this.form.return.date.getFullYear()}-${this.form.return.date.getMonth() + 1}-${this.form.return.date.getDate()}` : null;

          let departureTimeDate = departDateString + 'T' + departTime;
          let returnTimeDate = returnDateString + 'T' + returnTime;

          let departDate = this.form.departure.date ? '<DepartureDate>' + departureTimeDate + '</DepartureDate>\n' : '\n';
          let returnDate = this.form.return.date ? '<ReturnDate>' + returnTimeDate + '</ReturnDate>\n' : '\n';
          let returnDestination = this.form.return.destination ? '<ReturnDestination>' + this.form.return.destination + '</ReturnDestination>\n' : '\n';
          let returnItinerary = this.form.return.pickup ? '<ReturnItinerary>' +this.form.return.pickup + '</ReturnItinerary>\n' : '\n';
          let instance = this;

        let data = '<?xml version="1.0" encoding="utf-8"?>' +
            '<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">\n' +
            '  <s:Body>\n' +
            '    <RequestCharterQuote xmlns="https://cloud.itmprojects.com.au/webservice/CharterBookingsWebService.asmx">\n' +
            '      <username>wbkgagnt</username>\n' +
            '      <password>fire20fly!</password>\n' +
            '      <model>\n' +
            '       <Company>' + this.form.company + '</Company>\n' +
            '       <ContactName>' + this.form.name + '</ContactName>\n' +
            '       <ContactEmail>' + this.form.email + '</ContactEmail>\n' +
            '       <ContactPhone>' + this.form.phone + '</ContactPhone>\n' +
            '       <StreetAddress>' + this.form.address + '</StreetAddress>\n' +
            '       <StreetSuburb>' + this.form.suburb + '</StreetSuburb>\n' +
            '       <StreetState>' + this.form.state + '</StreetState>\n' +
            '       <StreetPostcode>' + this.form.postcode + '</StreetPostcode>\n' +
            '       <Country>' + this.form.country + '</Country>\n' +
            '       <Pax>' + this.form.passengers + '</Pax>\n' +
            '       <EventType>' + this.form.type + '</EventType>\n' +
            '       <TACAgreement>' + this.form.tandc + '</TACAgreement>\n' +
            departDate +
            '       <DepartureItinerary>' + this.form.departure.pickup + '</DepartureItinerary>\n' +
            '       <DepartureDestination>' + this.form.departure.destination + '</DepartureDestination>\n' +
            returnDate + returnDestination + returnItinerary +
            '    </model>\n' +
            '    </RequestCharterQuote>\n' +
            '  </s:Body>\n' +
            '</s:Envelope>\n';
        window.axios.post('https://cloud.itmprojects.com.au/webservice/CharterBookingsWebService.asmx',
            data,
            {headers:
                  {
                    'Content-Type': 'text/xml',
                    'SOAPAction': 'https://cloud.itmprojects.com.au/webservice/CharterBookingsWebService.asmx/RequestCharterQuote'
                  }}
        ).then((data) => {
          var parseString = require('xml2js').parseString;

          parseString(data.data, (err, result) => {

            let response = result["soap:Envelope"]["soap:Body"][0].RequestCharterQuoteResponse[0].RequestCharterQuoteResult[0];

            if (response.Status[0] == 0) {
              instance.success = true;
              instance.bookingNumber = response.BookingNumber[0];
            } else {
              instance.submissionError = 'There was a problem submitting your request.'
            }
          })
        });
      }
    },
    disabledDateGenerator()
    {
      let d = new Date();
      return new Date(d.getFullYear(), d.getMonth(), d.getDate());
    },
    validate()
    {
      let flag = false;
      if( this.form.name === '') {
        this.inputErrors.name = 'Name is required';
        flag = true;
      } else {
        this.inputErrors.name = false;
      }

      if( this.form.phone === '') {
        this.inputErrors.phone = 'Phone is required';
        flag = true;
      } else {
        this.inputErrors.phone = false;
      }

      if( this.form.email === '') {
        this.inputErrors.email = 'Email is required';
        flag = true;
      } else {
        this.inputErrors.email = false;
      }

      if( this.form.suburb === '') {
        this.inputErrors.suburb = 'Suburb is required';
        flag = true;
      } else {
        this.inputErrors.suburb = false;
      }

      if( this.form.address === '') {
        this.inputErrors.address = 'Address is required';
        flag = true;
      } else {
        this.inputErrors.address = false;
      }

      if( this.form.state === '') {
        this.inputErrors.state = 'State is required';
        flag = true;
      } else {
        this.inputErrors.state = false;
      }

      if( this.form.postcode === '') {
        this.inputErrors.postcode = 'Postcode is required';
        flag = true;
      } else {
        this.inputErrors.postcode = false;
      }

      if( this.form.country === '') {
        this.inputErrors.country = 'Country is required';
        flag = true;
      } else {
        this.inputErrors.country = false;
      }

      if( this.form.passengers === '') {
        this.inputErrors.passengers = 'Passengers is required';
        flag = true;
      } else {
        this.inputErrors.passengers = false;
      }

      if( this.form.type === '') {
        this.inputErrors.type = 'Type of Event is required';
        flag = true;
      } else {
        this.inputErrors.type = false;
      }

      if( this.form.departure.date === '') {
        this.inputErrors.departure.date = 'Departure Date is required';
        flag = true;
      } else {
        this.inputErrors.departure.date = false;
      }

      if( this.form.departure.pickup === '') {
        this.inputErrors.departure.pickup = 'Pickup is required';
        flag = true;
      } else {
        this.inputErrors.departure.pickup = false;
      }

      if( this.form.departure.destination === '') {
        this.inputErrors.departure.destination = 'Destination is required';
        flag = true;
      } else {
        this.inputErrors.departure.destination = false;
      }

      if( !this.form.tandc) {
        this.inputErrors.tandc = 'You must accept this';
        flag = true;
      } else {
        this.inputErrors.tandc = false;
      }

      return flag;
    },
    verifyRecaptcha(val)
    {
      this.captcha = val;
    },
    expireRecaptcha()
    {
      this.captcha = false;
    },
    findAddress(obj)
    {
      console.log(obj)
      this.form.address = obj.street_number + ' ' + obj.route;
      this.form.postcode = obj.postal_code;
      this.form.suburb = obj.locality;
      this.form.state = obj.administrative_area_level_1;
      this.form.country = obj.country;

    },
    findDepartureDestination(obj, place)
    {
      let street_number = obj.street_number
      if(typeof street_number == 'undefined')
        street_number = place.name;
      this.form.departure.destination = street_number + ' ' + obj.route + ', ' + obj.locality + ', ' + obj.administrative_area_level_1 + ' ' + obj.postal_code;
    },
    findReturnDestination(obj, place)
    {
      let street_number = obj.street_number
      if(typeof street_number == 'undefined')
        street_number = place.name;
      this.form.return.destination = street_number + ' ' + obj.route + ', ' + obj.locality + ', ' + obj.administrative_area_level_1 + ' ' + obj.postal_code;
    },
    findDeparturePickup(obj, place)
    {
      let street_number = obj.street_number
      if(typeof street_number == 'undefined')
        street_number = place.name;

      this.form.departure.pickup = street_number + ' ' + obj.route + ', ' + obj.locality + ', ' + obj.administrative_area_level_1 + ' ' + obj.postal_code;
    },
    findReturnPickup(obj, place)
    {
      let street_number = obj.street_number
      if(typeof street_number == 'undefined')
        street_number = place.name;
      this.form.return.pickup = street_number + ' ' + obj.route + ', ' + obj.locality + ', ' + obj.administrative_area_level_1 + ' ' + obj.postal_code;
    }
  }
}
</script>

<style scoped>
  fieldset legend {
    color: #dc143c;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  fieldset select {
    clear: both;
    max-width: calc( 50% - 10px );
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding:5px 10px;
    margin-right: 10px;
  }

  .grid {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  .grid.small {
    grid-template-columns: 20% 7% 7% 7%;
  }

  .grid.small * {
    width: 100%;
    max-width: 100%;
  }

  .grid > *:not(div) {
    padding: 5px 10px;
  }

  .grid > * > * {
    width: 100%;
    padding: 5px 10px;
  }

  textarea {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  button {
    margin: 20px 10px 10px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #dc143c;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: right;
  }

  button:hover {
    background: #ff841c;
  }

  .input-error {
    font-size: 14px;
    color: #dc143c;
    margin-bottom: 0;
  }

  .full-span > * {
    grid-column: 1 / span 2;
  }


  .fa-check-circle {
    color: #41af33;
    font-size: 90px;
  }
</style>
<style>
.float-right > div {
  margin-left: auto;
  margin-right: 0;
}
</style>
<style>
.vdp-datepicker input {
  padding: 4px 10px;
  width: 100%;
}
</style>