<template>
    <div id="homepage">
        <div class="booking-tabs">
            <div id="tab-booking"
                 :class="selectedTab === 'tab-booking' ? 'selected' : null"
                 @click="changeTab('booking')">
                Book A Ticket
            </div>
            <div id="tab-manage"
                 :class="selectedTab === 'tab-manage' ? 'selected' : null"
                 @click="changeTab('manage')">
                Manage Booking
            </div>
            <div id="tab-manage"
                 :class="selectedTab === 'tab-timetable' ? 'selected' : null"
                 @click="changeTab('timetable')">
                Timetables
            </div>
        </div>
        <form action="/book-a-trip" v-if="selectedTab === 'tab-booking'" method="GET" id="form-to-submit" class="destination-finder-form container">
            <div id="return-trip" class="row">
                <div class="col">
                    <label for="return">
                        <input type="radio"
                               id="return"
                               name="trip-type"
                               value="Return"
                               v-model="incReturnTrip">
                        Return
                    </label>
                    <label for="one-way">
                        <input type="radio"
                               id="one-way"
                               name="trip-type"
                               value="One Way"
                               v-model="incReturnTrip"
                        @click="updateReturnDate">
                        One Way
                    </label>
                </div>
            </div>
            <div id="destination-row" class="row">
                <div class="col large border">
                    <label for="start-location" class="label-item">
                        <span class="label-text">Origin</span>
                        <select2 :options="stopOptions"
                                 :settings="stopSettings"
                                 name="start-location"
                                 id="start-location"
                                 placeholder="From"
                                 v-model="startLocation"
                                 @change="disableSelection($event, 'start')"/>
                    </label>
                  <p v-if="inputErrors.startLocation" class="input-error">{{inputErrors.startLocation}}</p>
                </div>
                <div class="col large border">
                    <label for="end-location" class="label-item">
                        <span class="label-text">Destination</span>
                        <select2 :options="stopOptions"
                                 :settings="stopSettings" name="end-location"
                                 id="end-location"
                                 placeholder="To"
                                 v-model="endLocation"
                                 @change="disableSelection($event, 'end')"/>
                    </label>
                  <p v-if="inputErrors.endLocation" class="input-error">{{inputErrors.endLocation}}</p>
                </div>
                <div class="col small border">
                    <div class="label-item">
                        <span class="label-text">
                            Depart
                        </span>
                        <Datepicker name="depart-date"
                                    id="depart-date"
                                    placeholder="dd/mm/yyyy"
                                    v-model="departDateFull"
                                    required
                                    format="dd/MM/yyyy"
                                    :disabled-dates="disabledForwardDates"
                                    @selected="disabledDateReturnGenerator"
                        readonly />
                    </div>
                  <p v-if="inputErrors.departDateFull" class="input-error">{{inputErrors.departDateFull}}</p>
                </div>
                <div class="col small border">
                    <div class="label-item return-date-wrapper"
                         :disabled="incReturnTrip === 'One Way'" >
                        <span class="label-text">
                            Return
                        </span>
                        <Datepicker name="return-date"
                                    id="return-date"
                                    placeholder="dd/mm/yyyy"
                                    ref="returnDate"
                                    v-model="returnDateFull"
                                    required
                                    :disabled="incReturnTrip === 'One Way'"
                                    :clear-button="true"
                                    format="dd/MM/yyyy"
                                    :disabled-dates="disabledReturnDates"
                                    @selected="disabledDateForwardGenerator"
                                    readonly />
                    </div>
                  <p v-if="inputErrors.returnDateFull" class="input-error">{{inputErrors.returnDateFull}}</p>
                </div>
                <div class="col medium passengers">
                    <label class="label-item">
                        <span class="label-text">
                            Passengers
                        </span>

                        <div class="passenger-options-item">
<!--                            <label>Seats</label>-->
                            <vue-numeric-input name="number-of-tickets"
                                               v-model="numberOfTickets"
                                               :min="0"
                                               max="6"
                                               align="center"></vue-numeric-input>
                        </div>
                    </label>
                  <p v-if="inputErrors.numberOfTickets" class="input-error">{{inputErrors.numberOfTickets}}</p>
                </div>

                <div class="col medium">
                    <button type="button"
                            class="next-step"
                            @click="submitForm">
                        Search Trips

                    </button>
                </div>
            </div>
        </form>
        <form v-if="selectedTab === 'tab-timetable'" method="GET" id="tab-timetable" class="destination-finder-form container">
            <div class="row">
                <label style="color: #fff; font-size: 18px;">Find a daily timetable</label>
            </div>
            <div id="destination-row" class="row">
                <div class="col xlarge border">
                    <label for="start-location-timetable" class="label-item">
                        <span class="label-text">Origin</span>
                        <select2 :options="timetableOptions"
                                 :settings="stopSettings"
                                 name="start-location"
                                 id="start-location-timetable"
                                 placeholder="From"
                                 v-model="timetableStart"
                                 @change="disableSelection($event, 'start')"/>
                        <p v-if="inputErrors.timetableStart" class="input-error">{{inputErrors.timetableStart}}</p>
                    </label>
                </div>
                <div class="col xlarge border">
                    <label for="end-location-timetable" class="label-item">
                        <span class="label-text">Destination</span>
                        <select2 :options="timetableOptions"
                                 :settings="stopSettings" name="end-location"
                                 id="end-location-timetable"
                                 placeholder="To"
                                 v-model="timetableEnd"
                                 @change="disableSelection($event, 'end')" />
                        <p v-if="inputErrors.timetableEnd" class="input-error">{{inputErrors.timetableEnd}}</p>
                    </label>
                </div>
                <div class="col small border">
<!--                    <div class="label-item">-->
<!--                        <span class="label-text">-->
<!--                            Date of travel-->
<!--                        </span>-->
<!--                        <Datepicker name="depart-date"-->
<!--                                    id="depart-date"-->
<!--                                    placeholder="dd/mm/yyyy"-->
<!--                                    v-model="departDateFull"-->
<!--                                    required-->
<!--                                    format="dd/MM/yyyy"-->
<!--                                    :disabled-dates="disabledDates">-->
<!--                        <p v-if="inputErrors.departDateFull" class="input-error">{{inputErrors.departDateFull}}</p>-->
<!--                    </div>-->
                </div>

                <div class="col medium">
                    <button type="button"
                            class="next-step"
                            @click="findTimetable">
                        Get Timetable

                    </button>
                </div>
            </div>
            <div class="error-main text-center"
            v-if="inputErrors.timetableSelection">
                {{inputErrors.timetableSelection}}
            </div>
        </form>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import VueNumericInput from "vue-numeric-input";
    import Select2 from "v-select2-component";
export default {
    name: 'HomePage',
    components: {
        Datepicker,
        VueNumericInput,
        Select2
    },
    data() {
        return {
            selectedTab: 'tab-booking',
            startLocation: '',
            endLocation: '',
            incReturnTrip: 'One Way',
            departDate: null,
            openPassengerInputs: false,
            returnDate: '',
            departDateFull: null,
            returnDateFull: null,
            numberOfTickets: 0,
            assistance: {
                wheelchair: false,
                hearing: false,
                vision: false,
                medical: false
            },
            inputErrors: {
                startLocation: false, endLocation: false, departDateFull: false,
                returnDateFull: false, numberOfTickets: false, timetableSelection: false
            },
            stops: [],
            states: [],
            stopOptions: [],
            stopSettings: {
                width: '100%',
                minimumResultsForSearch: -1
            },
            timetableOptions: [
                {
                    id: 'melbourne',
                    text: 'Melbourne'
                },
                {
                    id: 'sydney',
                    text: 'Sydney'
                },
                {
                    id: 'adelaide',
                    text: 'Adelaide'
                }
            ],
            disabledForwardDates: {
                to: this.disabledDateGenerator()
            },
            disabledReturnDates: {
                to: this.disabledDateGenerator()
            },
            timetableStart: '',
            timetableEnd: ''
        }
    },
    mounted() {
        const main = this;
        this.getClientInfo();
        this.disabledDateGenerator();

        if(navigator.userAgent.match(/(iPhone|iPod|iPad|Mobile\/|Version\/14.0)/i)) {
            var style = document.createElement('style');
            style.id = 'remove-these-items';
            style.innerHTML = `
                  .select2-results__options {
                  display: none!important;
                  opacity: 0!important;
                  }
                  `;
            document.head.appendChild(style);
        }

        document.getElementById('start-location').onchange = this.onSelectChangeDirect;
        document.getElementById('end-location').onchange = this.onSelectChangeDirect;

        document.addEventListener('change', function(e) {
            var ele = e.target;

            if (ele.id === 'start-location-timetable')
                main.disableSelection(ele.value, 'start');

            if (ele.id === 'end-location-timetable')
                main.disableSelection(ele.value, 'end');

            if (ele.id === 'start-location') {
                main.disableSelection(ele.value, 'start');
            }

            if( ele.id === 'end-location')
                main.disableSelection(ele.value, 'end');
        });

        const params = new URLSearchParams(window.location.search);
        
        if(params.get('from')){
            main.startLocation = params.get('from').toUpperCase()
            console.log(main.startLocation)
        }
        if(params.get('to')){
            this.endLocation = params.get('to')
        }
    },
    methods: {
        disableSelection(value, type)
        {

            if( document.querySelector('#tab-timetable #end-location-timetable [disabled]') !== null)
                document.querySelector('#tab-timetable #end-location-timetable [disabled]').disabled = false;

            if( document.querySelector('#tab-timetable #start-location-timetable [disabled]') !== null)
                document.querySelector('#tab-timetable #start-location-timetable [disabled]').disabled = false;

            if( document.querySelector('#form-to-submit #end-location [disabled]') !== null)
                document.querySelector('#form-to-submit #end-location [disabled]').disabled = false;

            if( document.querySelector('#form-to-submit #start-location [disabled]') !== null)
                document.querySelector('#form-to-submit #start-location [disabled]').disabled = false;

            if( document.querySelector('#tab-timetable') !== null ) {
                if (type === 'start') {
                    document.querySelector('#tab-timetable #end-location-timetable [value="' + value + '"]').disabled = true;
                } else
                    document.querySelector('#tab-timetable #start-location-timetable [value="' + value + '"]').disabled = true;
            }

            if( document.querySelector('#end-location') !== null ) {
                if (type === 'start') {
                    document.querySelector('#form-to-submit #end-location [value="' + value + '"]').disabled = true;
                } else
                    document.querySelector('#form-to-submit #start-location [value="' + value + '"]').disabled = true;
            }
        },
        onSelectChangeDirect(e)
        {
            if(e.target.value){
                console.log('changes')
                if( e.target.id === 'start-location')
                    this.startLocation = e.target.value;
                else
                    this.endLocation = e.target.value;
            }
        },
        changeTab(tab)
        {
            if( tab === 'booking' ) {
                this.selectedTab = 'tab-booking';
            }

            if( tab === 'manage' )
                window.location = 'https://booking.fireflyexpress.com.au/shuttles/Account/Login?CID=FFC';

            if( tab === 'timetable' )
                this.selectedTab = 'tab-timetable';
        },
        findTimetable()
        {
            if(this.timetableStart === this.timetableEnd) {
                this.inputErrors.timetableSelection = 'Origin and Destination can not be the same';
            } else {
                if (this.timetableStart !== '' && this.timetableEnd !== '')
                    window.location = this.timetableStart + '-to-' + this.timetableEnd;
            }
        },
        disabledDateGenerator()
        {
            let d = new Date();
            return new Date(d.getFullYear(), d.getMonth(), d.getDate());
        },
        disabledDateForwardGenerator(date)
        {
            this.disabledForwardDates = {
                from: date,
                to: new Date()
            };
        },
        disabledDateReturnGenerator( date)
        {
            this.disabledReturnDates = { to: date};
        },
        getClientInfo()
        {
            window.axios.post('https://cloud.itmprojects.com.au/webservice/KioskWS.asmx/Login',
                {
                    username: 'DanielL',
                    password: 'Larson99',
                    deviceID: '',
                    version: ''
                }
            ).then((data) => {
                let allData = JSON.parse(data.request.response).d,
                    stops = allData.Stops,
                    kioskStop = allData.KioskStop;

                stops.push(kioskStop);
                this.createStops(stops);
            });
        },
        createStops(stops)
        {
            let stopState = ['Cities', ...new Set(stops.map(item => item.StreetState))],
                stopTopLevelCodes = ['ADL', 'MEL', 'SYD'];
            let stopList = {
                Cities: [],
                ADL: [],
                MEL: [],
                SYD: []
            };

            stopState.forEach( (state) => {
                stopList[state] = [];
            });

            stops.forEach( (stop) => {
                if( stopTopLevelCodes.includes(stop.Code)) {
                    stopList.Cities.push(stop);
                } else
                    stopList[stop.StreetState].push(stop);
            });

            // stopList.VIC.sort(function( a,b ) {
            //     return a.Description < b.Description ? -1 : 1;
            // });

            this.stops = stopList;
            this.states = stopState;
            this.setStops({states: stopState, stops: stopList});
            this.getCookies();

            const params = new URLSearchParams(window.location.search);

            if( params.has('to')) {
                this.endLocation = params.get('to');
            }

            if( params.has('from')) {
                this.startLocation = params.get('from');
            }
        },
        submitForm()
        {
            this.setCookies();
            if( !this.validate() )
                document.getElementById('form-to-submit').submit();
        },
        setCookies()
        {
            this.$cookies.set('origin', this.startLocation);
            this.$cookies.set('destination', this.endLocation);
            this.$cookies.set('departDate', this.departDateFull);
            this.$cookies.set('returnDate', this.returnDateFull);
            this.$cookies.set('passengers', this.numberOfTickets);
            this.$cookies.set('tripType', this.incReturnTrip);
        },
        getCookies()
        {
            if( this.$cookies.isKey('origin' ) )
                this.startLocation = this.$cookies.get('origin');

            if( this.$cookies.isKey('destination' ) )
                this.endLocation = this.$cookies.get('destination');

            if( this.$cookies.isKey('departDate' ) )
                this.departDateFull = this.$cookies.get('departDate');

            if( this.$cookies.isKey('returnDate' ) )
                this.returnDateFull = this.$cookies.get('returnDate');

            if( this.$cookies.isKey('passengers' ) )
                this.numberOfTickets = this.$cookies.get('passengers');

            if( this.$cookies.isKey('tripType' ) )
                this.incReturnTrip = this.$cookies.get('tripType');
        },
        validate()
        {
            const departDateInput = document.querySelector('[name="depart-date"]').value;
            const returnDateInput = document.querySelector('[name="return-date"]').value;
            let flag = false;
            if( this.startLocation === '') {
                this.inputErrors.startLocation = 'Pickup location is required';
                flag = true;
            } else {
                this.inputErrors.startLocation = false;
            }

            if( this.endLocation === '') {
                this.inputErrors.endLocation = 'Drop off Location is required';
                flag = true;
            } else {
                this.inputErrors.endLocation = false;
            }

            if( this.endLocation === this.startLocation) {
                this.inputErrors.startLocation = 'Origin and Destination must be different';
                flag = true;
            } else {
                this.inputErrors.startLocation = false;
            }

            if( this.numberOfTickets === 0 || this.numberOfTickets === '') {
                this.inputErrors.numberOfTickets = 'Number of passengers is required';
                flag = true;
            } else {
                this.inputErrors.numberOfTickets = false;
            }

            if( this.departDateFull === 'undefined' || departDateInput.length === 0 || this.departDateFull === null) {
                this.inputErrors.departDateFull = 'Departure date is required';
                flag = true;
            } else {
                this.inputErrors.departDateFull = false;
            }

            if( (this.returnDateFull === 'undefined' || returnDateInput.length === 0 || this.returnDateFull === null) && this.incReturnTrip === 'Return' ) {
                this.inputErrors.returnDateFull = 'Return date is required';
                flag = true;
            } else {
                this.inputErrors.returnDateFull = false;
            }

            return flag;
        },
        setStops(stopData)
        {
            this.stopOptions = [
                {
                    id: 'test',
                    text: 'test'
                },
                {
                    id: 'test2',
                    text: 'test2'
                }
            ];

            let stops = stopData.stops,
                states = stopData.states;

            states.forEach( (value, index) => {
                let parentIndex = index;

                this.stopOptions[parentIndex] = {
                    id: value,
                    text: value,
                    children: []
                }

                stops[value].forEach( (stop, index) => {
                    this.stopOptions[parentIndex].children[index] = {
                        id: stop.Code,
                        text: stop.Description
                    }
                });
            });
        },
        updateReturnDate()
        {
            document.querySelector('.vdp-datepicker__clear-button').click();
        }
    }
}
</script>

<style>
    #homepage {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }
    #homepage form {
        color: #2c3e50;
        background: crimson;
    }

    #homepage #return-trip .col {
        display: flex;
    }

    @media only screen and (max-width: 991px) {
        #homepage #return-trip .col {
            flex-direction: row;
        }
    }

    #homepage #return-trip label {
        color: #fff;
        font-size: 18px;
        margin-right: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #homepage #return-trip input {
        height: 18px;
        width: 18px;
        margin-right: 5px;
    }

    #homepage #destination-row {
    }

    #homepage .container {
        padding: 40px;
    }

    #homepage .row {
        display: flex;
     }

    #homepage .row .col {
        padding: 0;
     }

    #homepage .row .col .label-item .label-text,
    #homepage .label-item .select2 .select2-selection .select2-selection__rendered,
    #homepage .vdp-datepicker input {
        padding: 0 10px;
     }

    #homepage .vdp-datepicker input {
        min-height: 28px;
    }


    #homepage .label-item .select2 .select2-selection .select2-selection__rendered {
        font-weight: normal;
    }

    #homepage .row .col.border {
        border-right: 2px solid transparent;
    }

    #homepage .row .col.xlarge {
        width: 35%;
    }

    @media only screen and (max-width: 768px)
    {

        #homepage .row .col.xlarge {
            width: 50%;
        }
    }

    @media only screen and (max-width: 767px)
    {

        #homepage #tab-timetable {
            min-height: 418px;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        #homepage #tab-timetable .row {
            width: 100%;
        }

        #homepage #tab-timetable .row > label {
            margin-bottom: 0;
        }

        #homepage #tab-timetable .row:first-of-type {
            text-align: center;
            margin-bottom: 0;
        }

        #homepage #tab-timetable .row:first-of-type label {
            text-align: center;
            display: block;
            width: 100%;
        }

        #homepage .row .col.xlarge {
            width: 100%;
        }
    }

    #homepage .row .col.large {
        width: 22%;
     }

    #homepage .row .col.medium {
        width: 17%;
    }

    #homepage .row .col.small {
        width: 10%;
        position: relative;
     }

    #homepage .row .col.small .input-error {
        line-height: 1.25;
    }

    #homepage i {
         cursor: pointer;
     }

    #homepage #select-destination {
        height: 420px;
    }

    #homepage .container .row {
        margin: 20px 0;
    }

    #homepage .container .row:first-of-type {
        margin-top: 0;
    }

    @media only screen and (max-width: 767px) {
        #homepage #date-selector-wrapper {
            margin-top: 15px!important;
        }

        #homepage #date-selector-wrapper .col-right {
            margin-top: 40px!important;
            margin-bottom: 10px!important;
        }

        #homepage #return-trip {
            text-align: center;
        }

        #homepage #return-trip .col {
            display: block;
            width: 100%;
        }

        #homepage #return-trip label {
            display: inline-block!important;
        }

        #homepage #destination-row {
            flex-wrap: wrap;
        }

        #homepage #destination-row .col.large {
            width: 100%;
        }

        #homepage #destination-row .col.small {
            width: 50%;
        }

        #homepage .row .col.medium {
            width: 100%;
            margin-top: 5px;
        }

        #homepage button.next-step {
            width: 100%;
          font-size: 16px;
        }
    }

    #homepage .label-item {
        background: #fff;
        text-align: left;
    }

    #homepage .label-item .label-text {
        font-size: 12px;
        font-weight: normal;
    }

    #homepage p {
        font-family: 'Open Sans', sans-serif;
    }

    #homepage .label-text {
        letter-spacing: 1px;
    }

    #homepage .label-item input,
    #homepage .label-item select,
    #homepage .label-item .select2 .select2-selection {
        border-width: 0;
    }

    #homepage .label-item input:focus,
    #homepage input:focus,
    #homepage .label-item select:focus,
    #homepage .label-item .select2 .select2-selection .select2-selection__rendered:focus,
    #homepage .label-item .select2-container--focus .select2-selection .select2-selection__rendered:focus,
    #homepage .label-item .select2-container--focus .select2-selection:focus {
        outline: none;
    }

    #homepage .select2-container--default .select2-selection--single .select2-selection__arrow {
        display: none;
    }

    #homepage .vdp-datepicker input {
        width: 100%;
    }

    #homepage .select2-selection__placeholder,
    #homepage input {
        font-weight: normal;
    }

    #homepage button.next-step {
        background-color: #ec6c00;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        padding: 15px 20px;
        border-radius: 4px;
    }

    #homepage button.next-step:focus {
        outline: none;
    }

    .return-date-wrapper[disabled] {
        opacity: 0.75;
        cursor: not-allowed;
    }

    @media only screen and (max-width:1024px) {
        .return-date-wrapper .vdp-datepicker__calendar {
            right: 0;
        }


      #homepage button.next-step {
       font-size: 13px;
      }
    }

    #homepage .medium p {
        font-size: 14px!important;
        padding-top: 4px!important;
    }

    #homepage .passenger-inputs {
        border: 1px solid #ccc;
        position: absolute;
        background: #fff;
        padding: 10px;
        width: 260px;
    }

    #homepage .no-margin {
        margin-bottom: 0;
    }

    #homepage .passengers .input-error {
        margin-top: 0!important;
        padding-top: 0!important;
    }

    #homepage .passengers label > p {
        padding: 0 10px;
    }

    #homepage .passenger-inputs .passenger-options-item {
        border-bottom: 1px solid crimson;
        padding-bottom: 10px;
        margin-bottom: 10px;
        background: #fff;
        display: flex;
    }

    #homepage .passenger-inputs .passenger-options-item:last-of-type {
        border-bottom-width: 0;
    }

    #homepage .passenger-inputs .passenger-options-item .col {
        align-items: center;
        justify-content: center;
    }

    #homepage .passenger-inputs .passenger-options-item label {
        width: 100%;
    }

    #homepage .passenger-options-item .vue-numeric-input {
        width: 100%!important;
    }

    #homepage .input-error {
        position: absolute;
        color: #fff;
    }

    @media only screen and (max-width: 767px) {
      #homepage .input-error {
        position: relative;
      }
    }

    #homepage .vdp-datepicker__clear-button {
        display: none!important;
    }

    .wheelchair-info {
        font-weight: normal;
        font-size: 12px;
    }

    #homepage .booking-tabs {
        text-align: left;
        display: flex;
    }

    #homepage .booking-tabs > div {
        background: #464646;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        /*max-width: 300px;*/
        padding: 30px 0 20px;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }

    @media only screen and (max-width: 600px) {
        #homepage .booking-tabs > div {
            font-size: 14px;
        }
    }

    #homepage .booking-tabs > div.selected {
        background: crimson;
        color: #fff;
    }

    #homepage #tab-timetable {
        position: relative;
    }

    #homepage .error-main {
        position: absolute;
        left: 0;
        right: 0;
        color: #fff;
    }

    input {
        font-size: 16px;
    }

    [name="number-of-tickets"] {
        padding-top: 2px!important;
        padding-bottom: 2px!important;
    }

</style>