<template>
  <div class="lost-items">
    <form @submit.prevent="submit" v-if="!success">
      <fieldset>
        <legend>Your Details</legend>
        <select v-model="form.title">
          <option disabled selected>Title*</option>
          <option value="mr">Mr</option>
          <option value="miss">Miss</option>
          <option value="Ms">Ms</option>
          <option value="Mrs">Mrs</option>
        </select>
        <div class="grid">
          <div>
            <input type="text" placeholder="First Name*" v-model="form.first_name">
            <p v-if="inputErrors.first_name" class="input-error">{{inputErrors.first_name}}</p>
          </div>
          <div>
            <input type="text" placeholder="Last Name*" v-model="form.last_name">
            <p v-if="inputErrors.last_name" class="input-error">{{inputErrors.last_name}}</p>
          </div>
        </div>
        <div class="grid">
          <div>
            <input type="text" placeholder="Email*" v-model="form.email">
            <p v-if="inputErrors.email" class="input-error">{{inputErrors.email}}</p>
          </div>
          <div>
            <input type="text" placeholder="Email Verification" v-model="form.emailVerification">
            <p v-if="inputErrors.emailVerification" class="input-error">{{inputErrors.emailVerification}}</p>
          </div>
        </div>
        <div class="grid">
          <div class="address-wrapper" style="grid-column: 1 /span 2;">
                <vue-google-autocomplete
                    id="map"
                    classname="form-control"
                    placeholder="Address"
                    v-on:placechanged="findAddress">
                </vue-google-autocomplete>
          </div>
<!--          <input type="text" placeholder="Suburb/Town" v-model="form.suburb">-->
        </div>
<!--        <div class="grid">-->
<!--          <input type="text" placeholder="Post Code" v-model="form.postcode" class="clear-right">-->
<!--        </div>-->
        <div class="grid">
          <input type="text" placeholder="Mobile" v-model="form.mobile">
          <input type="text" placeholder="Land Line" v-model="form.landline">
        </div>
      </fieldset>

      <fieldset class="enquiry-details">
        <legend>Enquiry Details</legend>
        <div class="grid">
          <input type="text" placeholder="Booking Number" v-model="form.bookingNumber">
        </div>
        <div class="grid">
          <input type="text" placeholder="Service Number" v-model="form.serviceNumber">
        </div>
        <div class="grid">
          <input type="date" placeholder="Departure Date" v-model="form.departureDate">
        </div>
        <textarea rows="10" placeholder="Description*" v-model="form.description"></textarea>
        <p v-if="inputErrors.description" class="input-error">{{inputErrors.description}}</p>
      </fieldset>
      <vue-recaptcha sitekey="6LcMaPsZAAAAAG-6eMpcndiQz-GAHwr2ptO4AWqS"
                     :loadRecaptchaScript="true" class="float-right"
                      @verify="verifyRecaptcha"
                      @expired="expireRecaptcha">
      </vue-recaptcha>
        <button type="submit">Submit</button>
      <p v-if="submissionError">{{submissionError}}</p>
    </form>
    <div v-if="success">
      <h2 style="text-align: center">Success</h2>
      <div class="tick-wrapper" style="text-align: center">
        <i class="fa fa-check-circle"></i>
      </div>
      <p style="text-align: center; margin-top: 10px;">Your request has been processed and will be reviewed by our team at our earliest convenience between Monday – Friday, 9-5pm. </p>
    </div>
  </div>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import VueGoogleAutocomplete from 'vue-google-autocomplete';
export default {
  components: {
    VueRecaptcha,
    VueGoogleAutocomplete
  },
  data() {
    return {
      form: {
        title: 'Title*',
        first_name: '',
        last_name: '',
        email: '',
        emailVerification: '',
        address: '',
        suburb: '',
        postcode: '',
        mobile: '',
        landline: '',
        bookingNumber: '',
        serviceNumber: '',
        departureDate: '',
        description: '',
      },
      inputErrors: {
        title: false,
        first_name: false,
        last_name: false,
        email: false,
        emailVerification: false,
        description: false,
      },
      submissionError: false,
      success: false,
      error: false,
      captcha: false,
      searchResults: false
    }
  },
  methods: {
    submit()
    {
      if( !this.validate() && this.captcha !== false  ) {
          let service = this.form.serviceNumber ? '<RunCode>' + this.form.serviceNumber + '</RunCode>\n' : '\n';
          let booking = this.form.bookingNumber ? '<Booking>' + this.form.bookingNumber + '</Booking>\n' : '\n';
          let date = this.form.departureDate ? '<RunDate>' + this.form.departureDate + '</RunDate>\n' : '\n';
          let phone = this.form.landline ? '<Phone>' + this.form.landline + '</Phone>\n' : '\n';
          let instance = this;

          let data = '<?xml version="1.0" encoding="utf-8"?>' +
              '<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">\n' +
              '  <s:Body>\n' +
              '    <LogLostItem xmlns="https://cloud.itmprojects.com.au/webservice/CharterBookingsWebService.asmx">\n' +
              '      <username>wbkgagnt</username>\n' +
              '      <password>fire20fly!</password>\n' +
              '      <item>\n' +
              '       <Name> ' + this.form.title + ' ' + this.form.first_name + ' ' + this.form.last_name + '</Name>\n' +
              '       <StreetAddress>' + this.form.address + '</StreetAddress>\n' +
              '        <StreetSuburb>' + this.form.suburb + '</StreetSuburb>\n' +
              '        <StreetPostcode>' + this.form.postcode + '</StreetPostcode>\n' +
              '        <Mobile>' + this.form.mobile + '</Mobile>\n' +
              '        <Email>' + this.form.email + '</Email>\n' +
              service + booking + date + phone +
              '        <Description>' + this.form.description + '</Description>\n' +
              '    </item>\n' +
              '    </LogLostItem>\n' +
              '  </s:Body>\n' +
              '</s:Envelope>\n';
        window.axios.post('https://cloud.itmprojects.com.au/webservice/CharterBookingsWebService.asmx',
            data,
            {headers:
                  {
                    'Content-Type': 'text/xml',
                    'SOAPAction': 'https://cloud.itmprojects.com.au/webservice/CharterBookingsWebService.asmx/LogLostItem'
                  }}
        ).then((data) => {
          var parseString = require('xml2js').parseString;

          parseString(data.data, (err, result) => {

            let response = result["soap:Envelope"]["soap:Body"][0].LogLostItemResponse[0].LogLostItemResult[0].Status[0];

            if(response == 0) {
              instance.success = true;
            } else {
              instance.submissionError = 'There was a problem submitting your request.'
            }
          });
        });
      }
    },
    validate()
    {
      let flag = false;
      if( this.form.first_name === '') {
        this.inputErrors.first_name = 'First Name is required';
        flag = true;
      } else {
        this.inputErrors.first_name = false;
      }

      if( this.form.last_name === '') {
        this.inputErrors.last_name = 'Last Name is required';
        flag = true;
      } else {
        this.inputErrors.last_name = false;
      }

      if( this.form.description === '') {
        this.inputErrors.description = 'Description is required';
        flag = true;
      } else {
        this.inputErrors.description = false;
      }

      if( this.form.title === 'Title*') {
        this.inputErrors.title = 'Title is required';
        flag = true;
      } else {
        this.inputErrors.title = false;
      }

      if( this.form.email === '') {
        this.inputErrors.email = 'Email is required';
        flag = true;
      } else {
        this.inputErrors.email = false;
      }

      if( this.form.emailVerification === '') {
        this.inputErrors.emailVerification = 'Email Verification is required';
        flag = true;
      } else if( this.emailVerification !== this.email ) {
        this.inputErrors.emailVerification = 'Email Verification must match Email';
      } else {
        this.inputErrors.emailVerification = false;
      }

      return flag;
    },
    verifyRecaptcha(val)
    {
      this.captcha = val;
    },
    expireRecaptcha()
    {
      this.captcha = false;
    },
    findAddress(obj)
    {
      this.form.address = obj.street_number + ' ' + obj.route;
      this.form.postcode = obj.postal_code;
      this.form.suburb = obj.locality;

    }
  }
}
</script>

<style scoped>
  fieldset legend {
    color: #dc143c;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  fieldset select {
    clear: both;
    max-width: calc( 50% - 10px );
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding:5px 10px;
    margin-right: 10px;
  }


  .fa-check-circle {
    color: #41af33;
    font-size: 90px;
  }

  .grid {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  .grid > *:not(div) {
    padding: 5px 10px;
  }

  .grid > * > * {
    width: 100%;
    padding: 5px 10px;
  }

  textarea {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  button {
    margin: 20px 10px 10px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #dc143c;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: right;
  }

  button:hover {
    background: #ff841c;
  }

  .input-error {
    font-size: 14px;
    color: #dc143c;
    margin-bottom: 0;
  }
</style>
<style>
.float-right > div {
  margin-left: auto;
  margin-right: 0;
}
</style>