<template>
    <div id="trip-details">
        <h2 class="timetable-header">
            Timetable - {{titleInfo}}
        </h2>
        <div class="alert-container">
          <div class="alert">
            <img src="https://assets.website-files.com/5bff450a8c8d95f1afdbf3e7/6029e70d9edb34db7c12c406_alert.png" loading="lazy" alt="" class="warning-image">
            <u>Note:</u> Stops marked with <span class="bullet bullet-red"></span> are on request only
          </div>
        </div>
       
        <div class="stop-wrapper container">    
            <span v-if="loader === true">
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </span>
            <div class="row"
                 v-for="(service, index) in services"
                :key="index"
            v-else>
                <div class="col-left">
                    <div class="icon-wrapper">
                        <i class="fa fa-bus"></i>
                    </div>
                    <span class="service-name">{{index}}</span>
                </div>
                <div class="col-right">
                    <ul class="stop-list">
                        <li class="stop-item"
                            v-for="stop in service"
                            :key="stop.name">
                            <div class="stop-time-wrapper">
                                <span class="time">
                                    {{stop.time}}
                                </span>
                                <span v-bind:class="{ 'bullet-red': stop.OnRequest }" class="bullet "></span>
                            </div>
                            <div class="name-wrapper">
                              
                              <span class="name bold">
                                {{stop.name}}
                              </span>
                              <span class="name">
                               <span class="name__comma"> , </span>{{stop.address}}
                              </span>
                              <span class="btn-container">
                                <a :href="'https://www.google.com/maps/search/' + stop.latLong" target="_blank" class="button button-sm">
                                  Map
                                </a>
                                <a v-if="stop.code != end" :href="'/?from=' + stop.code + '&to=' + end" class="button button-sm">Book</a>
                              </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Schedules",
        data: function() {
            return {
                services: {},
                titleInfo: "",
                today: "",
                start: "",
                end: "",
                loader: true
            }
        },
        mounted() {
          const params = new URLSearchParams(window.location.search);
          const url = 'https://cloud.itmprojects.com.au/webservice/ShuttlesWS.asmx/GetTimetablesForToday';
          let start = params.get('start'),
              end = params.get('end'),
              stateCodesToName = {
                              'ADL' : 'Adelaide', 
                              'MEL' : 'Melbourne', 
                              'SYD' : "Sydney"    
                            };

          this.start = start;
          this.end = end;

          if(stateCodesToName[start]){
            this.titleInfo = stateCodesToName[start];
            if(stateCodesToName[end]){
              this.titleInfo += " to " + stateCodesToName[end];
            }
          }

          let today = new Date();
          this.today = today.toLocaleDateString();

          window.axios.post(url,
              {
                username: 'DanielL',
                password: 'Larson99',
                group: '',
                from: start,
                to: end
              }
          ).then((data) => {
            const response = JSON.parse(data.request.response).d,
                main = this;

            let stops = {};

            if(response.Routes != null){
              response.Routes.forEach((routeSet) => {
                stops[routeSet.Description] = {};
                routeSet.RouteDetails.forEach((route, index) => {
                  let name = route.StopDescription,
                      time = main.getTimeString(route.Time);

                  stops[routeSet.Description]['stop' + index] = {
                    code: route.Stop,
                    name: name,
                    time: time,
                    OnRequest: route.OnRequest,
                    latLong: route.StopLatitude + ',' + route.StopLongitude,
                    address: route.Memo
                  };
                });
              });
            }

            main.loader = true;
            setTimeout( function() {
              main.services = {};
              main.services = stops;
              main.loader = false;
            }, 2000);

          });
        },
      methods: {
        getTimeString(timecode) {
          const zeroPad = (num, places) => String(num).padStart(places, '0');
          var {DateTime} = require('luxon');
          let timestamp = this.getTimeStamp(timecode),
              dateTimeObject = new Date(timestamp),
              dateWithTimeZone = DateTime.fromISO(dateTimeObject.toISOString()).plus({hours: 1}).setZone('Australia/Melbourne'),
              hourConverted = dateWithTimeZone.hour > 12 ? dateWithTimeZone.hour - 12 : dateWithTimeZone.hour === 0 ? 12 : dateWithTimeZone.hour,
              minuteFull = dateWithTimeZone.minute,
              amPm = dateWithTimeZone.hour >= 12 ? 'PM' : 'AM',
              timeString = zeroPad(hourConverted, 2) + ':' + zeroPad(minuteFull, 2) + ' ' + amPm;

          return timeString;
        },
        getTimeStamp(itemDate)
        {
          return parseInt(itemDate.replace(/\/|Date|\)|\(/g, ''));
        },
      }
    }
</script>


<style scoped>
    .timetable-header {
        font-size: 24px;
        font-weight: normal;
        margin-top: 0;
        padding: 10px;
        background: crimson;
        color: #fff;
    }

    #trip-details {
        border: 1px solid #ccc;
        border-top-width: 0;
    }

    .alert-container{

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 25px;
    }
    .alert-container .warning-image {
          vertical-align: middle;
        width: 20px;
        margin-right: 15px;
    }
    .alert {
      display: inline-block;
      max-width: 800px;
      padding: 25px 16px;
      background-color: #fdf9cd;
      border: 1px solid #fef446;
      font-family: 'PT Sans', sans-serif;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      font-weight: bold;
  }
    .stop-wrapper {
        padding: 0px 40px 20px;
    }
    .stop-wrapper .col-left {
        width: 280px!important;
        font-size: 16px;
        font-weight: bold;
        padding-left: 140px;
    }
    .stop-wrapper .col-right {
        width: calc(100% - 320px)!important;
    }
     
    .stop-list {
        padding-left: 0;
        margin-top: 0;
        list-style-type: none;
        text-align: left
    }

    .stop-list li {
        font-size: 12px;
        font-weight: bold;
        color: crimson;
        position: relative;
        height: 37px;
    }

    .stop-list li .name.bold{
      color:#464646;
      font-weight: bold;
    }

    .stop-list li:hover .name{
      text-decoration: underline;
    }
   
    .stop-list li .name-wrapper .button-sm {
        padding: 5px;
        font-size: 11px;
        text-align:center;
        margin:0px;
        margin-left: 10px;
        letter-spacing: 0;
        opacity: 0;
        display: inline;
        visibility: hidden;
        transition: all .3s;
        vertical-align: top;
    }
    .stop-list li:hover .name-wrapper .button-sm {
      opacity: 1;
        visibility: visible;
    }
    .stop-list li .stop-time-wrapper {
        position: relative;
        display: inline-block;
        width: 70px;
    }

    .stop-list li .name-wrapper {
        font-weight: normal;
    }

    .stop-list .bullet, .alert .bullet {
        position: absolute;
        top: 3px;
        z-index: 1;
        right: -3px;
        width: 8px;
        height: 8px;
        border: 1px solid #777;
        border-radius: 100%;
        background-color: #fff;
    }
    .stop-list .bullet-red, .alert .bullet-red {
      background-color: crimson;
      border: 1px solid crimson;
    }
    .alert .bullet {
      position: relative;
      top:initial;
      right:initial;
      margin-left: 5px;
      margin-right: 5px;
      display: inline-block;
    }

    .stop-list li .name-wrapper {
        padding-left: 14px;
        padding-bottom: 10px;
        border-left: 1px solid crimson;
        margin-left: -2px;
        height: 37px;
        display: inline-block;
        position: absolute;
        top: 3px;
    }

    .stop-list li:last-of-type .name-wrapper {
        border-left-color: transparent;
    }

    .stop-list li .name-wrapper .name {
        position: relative;
        bottom: 3px;
    }
    .stop-wrapper .row {
      margin-bottom: 30px;
    }

    .stop-wrapper .row:last-of-type li.stop-item:last-of-type,
    .stop-wrapper .row:last-of-type li.stop-item:last-of-type .name-wrapper {
        height: auto;
    }

    .change-service {
        max-width: 250px;
        padding: 10px 0;
        border: 1px solid crimson;
        background: #fff;
        height: auto!important;
    }

    .change-service p {
        margin: 0;
        font-weight: bold;
        font-size: 12px;
    }

    .icon-wrapper {
        margin-bottom: 3px;
    }

    .icon-wrapper i {
        font-size: 24px;
    }

    .service-name {
        font-size: 14px;
    }

    .stop-wrapper .row:last-of-type,
    .stop-wrapper .row:last-of-type .stop-list {
        margin-bottom: 0!important;
    }

    .block {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 10px 10px 0;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        background: crimson;
    }

    .block:nth-child(4n+1) { animation: wave 2s ease .0s infinite; }
    .block:nth-child(4n+2) { animation: wave 2s ease .2s infinite; }
    .block:nth-child(4n+3) { animation: wave 2s ease .4s infinite; }
    .block:nth-child(4n+4) { animation: wave 2s ease .6s infinite; margin-right: 0; }

    @keyframes wave {
        0%   { top: 0;     opacity: 1; }
        50%  { top: 15px;  opacity: .2; }
        100% { top: 0;     opacity: 1; }
    }
    @media (max-width: 1200px) and (min-width: 767px) {
      .stop-wrapper .col-left{
          width: 70px!important;
          padding-left: 0px;
      }
      .stop-wrapper .col-right{
          width: calc(100% - 90px)!important;
          margin-left: 0!important;
      }
    }
    @media only screen and (max-width: 1024px) {
      .stop-list li .name-wrapper .button-sm{
        opacity: 1;
        visibility: visible;
      }
      .stop-wrapper{
        padding:20px;
      }
      .stop-wrapper .col-left {
          width: 100%!important;
          padding-left: 0;
      }
      .stop-wrapper .col-right {
          width: 100%!important;
          padding-left: 0;
      }
      .stop-list li, .stop-list li .name-wrapper{
        height: auto;
      }
      .stop-list li .name-wrapper{
        margin-top: -1px;
        width: calc(100% - 70px);
        vertical-align: text-top;
        position: relative;
      }
      .stop-list li:first-child .name-wrapper{
       margin-top: 0;
      }
      .stop-list li .name-wrapper .btn-container{
        display:block;
      }
      .stop-list li .name-wrapper .btn-container .button-sm:first-child{
        margin-left: 0;
      }
    }
    @media only screen and (max-width: 500px) {
      .stop-list li .name-wrapper .name{
        display: block;
      }
      .stop-list li .name-wrapper .name__comma{
        display: none;
      }
    }

    #trip-details {
      font-family: Avenir, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 60px;
    }

    .col-right .vdp-datepicker__calendar {
      right: 0;
    }
    #trip-details .overview-header {
      font-size: 24px;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px;
      background: #464646;
      color: #fff;
    }

    .single-section {
      border: 1px solid #ccc;
      background: #fafafa;
      margin-bottom: 20px;
    }

    .single-section .container {
      padding: 20px 40px;
    }

    #trip-details .container {
      max-width: 1170px;
      position: relative;
    }

    #trip-details .booking-wrapper {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,0.6);
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    body > .select2-container.select2-container--open {
      z-index: 99999999999;
    }

    #trip-details .booking-content-container {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .booking-inner {
      width: 100%;
    }

    #trip-details.fade-enter-active, .fade-leave-active  {
      transition: opacity .6s ease;
    }

    #trip-details.fade-enter, .fade-leave-to
    {
      opacity: 0;
    }

    #trip-details.expand-enter-active, .expand-leave-active {
      transition: all linear 0.6s;
    }

    #trip-details.expand-enter, .expand-leave-to
    {
      height: 0;
      overflow: auto;
    }
    #trip-details .select2-selection {
      text-align: left;
      padding: 5px;
      height: auto
    }

    #trip-details .select2-selection--multiple {
      padding-right: 30px !important;
      padding-top: 0;
      padding-bottom: 0;
    }

    #trip-details .select2-selection--multiple .select2-search__field {
      border: none;
    }

    #trip-details .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search {
      height: 40px;
    }

    #trip-details .select2-container--default .select2-selection--multiple .select2-selection__choice {
      margin-top: 10px;
    }

    #trip-details .select2-selection--multiple:after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      border-top: 5px solid #333;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }

    #trip-details .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 40px;
    }

    #trip-details .button-wrapper {

    }

    #trip-details .button-wrapper button {
      text-transform: uppercase;
      font-size: 13px;
      padding: 15px 20px;
      color: #fff;
      background: crimson;
      cursor: pointer;
      transition: all linear 0.35s;
      font-weight: bold;
      border-color: crimson;
      border-radius: 6px;
      border-style: solid;
    }

    #trip-details .button-wrapper button:hover {
      background: #f04a4a;
      border-color: #f04a4a;
    }

    #trip-details .button-wrapper button:active,
    #trip-details .button-wrapper button:focus {
      border-color: #f04a4a;
      outline: none;
    }

    #trip-details .input-error {
      color: red;
      text-align: left;
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 2px;
    }

    #trip-details .button-wrapper button[disabled] {
      cursor: not-allowed;
      background: #ccc;
      border-color: #ccc;
      opacity: 0.75;
    }

    #trip-details .text-left {
      text-align: left;
    }

    #trip-details .text-center {
      text-align: center;
    }

    #trip-details .text-right {
      text-align: right;
    }

    #trip-details input {
      min-height: 40px;
      box-sizing: border-box;
      width: 100%;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      border-color: #aaa;
      padding: 10px;
    }

    #trip-details input:focus,
    #trip-details .select2-selection:focus,
    body .select2-search--dropdown .select2-search__field:focus,
    #trip-details .select2-container--open .select2-selection--multiple{
      outline: none!important;
      border-color: crimson;
    }

    #trip-details .select2-container--default .select2-selection--single .select2-selection__placeholder {
      font-size: 14px;
    }

    #trip-details .container .row {
      display: flex;
      flex-wrap: wrap;
      margin: 15px 0;
    }

    #trip-details .container .row:first-of-type {
      margin-top: 0;
    }

    #trip-details .container .row.no-margin {
      margin: 0;
    }

    #trip-details .container .row.justify-center {
      justify-content: center;
      align-items: center;
    }

    #trip-details .container .row .col-left,
    #trip-details .container .row .col-right {
      width: calc( 50% - 20px );
      position: relative;
    }

    #trip-details .container .row .col-left {
      margin-right: 20px;
    }
    #trip-details .container .row .col-right {
      margin-left: 20px;
    }

    #trip-details .container .row .col-full {
      width: 100%;
      position: relative;
    }

    #trip-details .container .row .col-third {
      width: calc( 100% / 3 - 30px );
      margin-left: 15px;
      margin-right: 15px;
    }

    #trip-details .toggle-switch,
    #trip-details .toggle-switch li {
      width: 100%!important;
      max-height: 40px;
    }

    #trip-details input[disabled] {
      background: #e2e2e2;
      cursor: not-allowed;
    }

    #trip-details .toggle-switch li input {
      margin: 0;
      cursor: pointer;
    }

    #trip-details .toggle-switch li label {
      box-sizing: border-box;
      border-color: #aaa!important;
      cursor: pointer;
      padding: 5px!important;
      line-height: 1.2!important;
    }

    #trip-details .toggle-switch li label.selected {
      border-color: crimson!important;
    }

    #trip-details .vue-numeric-input {
      width: 100%!important;
    }

    #trip-details .vue-numeric-input .btn {
      border-radius: 0;
      border-style: solid;
      top: 0;
      bottom: 0;
      background-color: transparent;
      min-width: 40px;
    }
    #trip-details .vue-numeric-input .btn-increment {
      right: 0;
    }

    #trip-details .vue-numeric-input .btn-decrement {
      left: 0;
    }

    #trip-details .vue-numeric-input .btn-icon {
      background: crimson;
      cursor: pointer;
    }

    #trip-details .vue-numeric-input .btn-icon:before,
    #trip-details .vue-numeric-input .btn-icon:after {
      background-color: #fff;
    }

    #trip-details .top-label {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: -20px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
    }

    #trip-details .vdp-datepicker__clear-button {
      display: none;
    }

    #trip-details .ticket-person-item {
      margin-bottom: 15px;
    }

    #trip-details .ticket-person-item .vue-numeric-input {
      width: 200px!important;
      margin-left: 10px;
    }

    @media only screen and (max-width: 767px) {
      #trip-details .container .row {
        margin: 0!important;
      }
      #trip-details .container .row .col-left,
      #trip-details .container .row .col-right,
      #trip-details .button-wrapper,
      #trip-details .container .row .col-third {
        width: 100%;
        position: relative;
        margin: 30px 0 0;
      }

      #trip-details .button-wrapper {
        margin-bottom: 20px;
      }

      #times {
        margin-top: 0!important;
      }

      #trip-details .booking-nav-wrapper .button-wrapper {
        margin-bottom: 0;
      }

      #trip-details .ticket-person-item .vue-numeric-input {
        width: 100%!important;
        margin-left: 0;
      }

      .single-section .container {
        padding: 20px!important;
      }

      .booking-nav-wrapper {
        border-bottom: 1px solid #ccc;
      }
    }
</style>