<template>
    <div id="booking-body" :class="isPage ? 'is-page' : null">
        <SelectDestination v-if="isPage === false" :class="steps.currentActive === 1 ? 'show' : 'hidden'"/>
        <TicketSelection :isPage="isPage" :class="steps.currentActive === 2 ? 'show' : 'hidden'"/>
        <BookingOverview :class="steps.currentActive === 3 ? 'show' : 'hidden'" />
        <BookingConfirmation :class="steps.currentActive === 4 ? 'show' : 'hidden'" />
        <PaymentReceived :class="steps.currentActive === 5 ? 'show' : 'hidden'" />
    </div>
</template>

<script>
    import SelectDestination from "./SelectDestination/SelectDestination";
    import TicketSelection from "./TicketSelection/TicketSelection";
    import BookingOverview from "./BookingOverview/BookingOverview";
    import BookingConfirmation from "./BookingConfirmation/BookingConfirmation";
    import PaymentReceived from "./PaymentReceived/PaymentReceived";

    export default {
        name: "BookingBody",
        props: {
            steps: Object,
            isPage: Boolean
        },
        data() {
            return {
                stops: [],
                tickets: [],
                states: [],
                dates: []
            }
        },
        components: {
            SelectDestination,
            TicketSelection,
            BookingOverview,
            BookingConfirmation,
            PaymentReceived
        },
        mounted() {
            window.Bus.$on('setInputDates', function(dates) {
                this.dates = dates;
            });
            window.Bus.$on('changeStep', this.getClientInfo);
            this.getClientInfo();
        },
        methods: {
            getClientInfo()
            {
                window.axios.post('https://cloud.itmprojects.com.au/webservice/KioskWS.asmx/Login',
                    {
                        username: 'DanielL',
                        password: 'Larson99',
                        deviceID: '',
                        version: ''
                    }
                ).then((data) => {
                    let allData = JSON.parse(data.request.response).d,
                        stops = allData.Stops,
                        kioskStop = allData.KioskStop;

                    stops.push(kioskStop);
                    this.createStops(stops);
                });
            },
            createStops(stops)
            {

                const stopState = [...new Set(stops.map(item => item.StreetState))];
                let stopList = {};

                stopState.forEach( (state) => {
                    stopList[state] = [];
                });

                stops.forEach( (stop) => {
                    stopList[stop.StreetState].push(stop);
                });

                window.Bus.$emit('stopList', {stops: stopList, states: stopState});
                this.stops = stopList;
                this.states = stopState;
            }
        }
    }
</script>

<style scoped>
    #booking-body {
        background: #fff;
        max-height: 70vh;
        overflow-y: auto;
        padding: 0 30px 30px 30px;
    }
    #booking-body.is-page {
        background: #fff;
        max-height: none;
        padding: 0 30px 30px 30px;
    }
    #booking-body .hidden {
        display: none;
    }
    #booking-body .show {
        display: block;
    }
</style>