<template>
    <div id="start-booking">
        <a href="#" @click="startBooking">Book A Trip</a>
        <a href="/manage-booking" target="_blank">Manage Booking</a>
    </div>
</template>

<script>
    export default {
        name: "StartBooking",
        methods: {
            startBooking()
            {
                window.Bus.$emit('showBooking', true);
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
    a {
        background: crimson;
        color: #fff;
        padding: 10px 30px;
        border-radius: 6px;
        text-decoration: none;
    }

    a:first-of-type {
        margin-right: 10px;
    }
</style>